{% extends "main.html" %}
{% block title %}Preview {{ csv_filename }}{% endblock %}
{% block content %}
<div class="page-step-wrapper" style="text-align: center; margin-bottom: 1.5em;">
  <div class="step-label">STAGE</div>
  <img class="page-step-icon" src="{{ url_for_static('static', filename='icons/svg/light/number-circle-five-light.svg') }}" alt="STAGE 5" />
</div>

<h1>Preview {{ csv_filename }}</h1>
<p><a class="btn-black" href="{{ url_for('exports.download_sellbrite', csv_filename=csv_filename) }}">Download Full CSV</a></p>
<div class="csv-preview">
  <table class="exports-table">
    <thead>
      <tr>
        {% for h in header %}<th>{{ h }}</th>{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>{% for cell in row %}<td>{{ cell }}</td>{% endfor %}</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
