# QA Report: static/icons/svg/light
_Audit date: 2025-07-09 19:00 UTC_

| File | Purpose/Role | Status | Issues |
|------|--------------|--------|--------|
| static/icons/svg/light/acorn-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/address-book-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/address-book-tabs-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/air-traffic-control-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/airplane-in-flight-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/airplane-landing-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/airplane-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/airplane-takeoff-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/airplane-taxiing-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/airplane-tilt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/airplay-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/alarm-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/alien-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-bottom-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-bottom-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-center-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-center-horizontal-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-center-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-center-vertical-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-left-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-right-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-top-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/align-top-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/amazon-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ambulance-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/anchor-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/anchor-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/android-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/angle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/angular-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/aperture-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/app-store-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/app-window-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/apple-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/apple-podcasts-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/approximate-equals-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/archive-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/armchair-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-arc-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-arc-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-double-up-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-double-up-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-down-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-down-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-left-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-left-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-right-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-right-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-up-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-bend-up-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-circle-down-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-circle-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-circle-down-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-circle-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-circle-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-circle-up-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-circle-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-circle-up-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-clockwise-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-counter-clockwise-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-down-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-down-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-down-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-down-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-left-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-left-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-right-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-right-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-up-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-elbow-up-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-line-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-line-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-line-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-line-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-lines-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-lines-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-lines-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-lines-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-fat-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-line-down-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-line-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-line-down-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-line-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-line-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-line-up-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-line-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-line-up-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-down-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-down-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-in-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-out-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-up-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-square-up-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-u-down-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-u-down-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-u-left-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-u-left-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-u-right-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-u-right-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-u-up-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-u-up-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-up-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrow-up-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-clockwise-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-counter-clockwise-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-down-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-in-cardinal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-in-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-in-line-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-in-line-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-in-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-left-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-merge-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-out-cardinal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-out-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-out-line-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-out-line-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-out-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-split-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/arrows-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/article-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/article-medium-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/article-ny-times-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/asclepius-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/asterisk-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/asterisk-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/at-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/atom-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/avocado-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/axe-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/baby-carriage-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/baby-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/backpack-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/backspace-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bag-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bag-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/balloon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bandaids-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bank-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/barbell-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/barcode-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/barn-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/barricade-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/baseball-cap-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/baseball-helmet-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/baseball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/basket-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/basketball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bathtub-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-charging-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-charging-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-empty-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-full-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-high-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-low-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-medium-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-plus-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-vertical-empty-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-vertical-full-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-vertical-high-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-vertical-low-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-vertical-medium-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-warning-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/battery-warning-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/beach-ball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/beanie-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bed-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/beer-bottle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/beer-stein-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/behance-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bell-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bell-ringing-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bell-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bell-simple-ringing-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bell-simple-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bell-simple-z-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bell-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bell-z-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/belt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bezier-curve-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bicycle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/binary-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/binoculars-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/biohazard-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bird-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/blueprint-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bluetooth-connected-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bluetooth-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bluetooth-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bluetooth-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/boat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bomb-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bone-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/book-bookmark-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/book-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/book-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/book-open-text-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/book-open-user-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bookmark-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bookmark-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bookmarks-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bookmarks-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/books-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/boot-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/boules-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bounding-box-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bowl-food-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bowl-steam-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bowling-ball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/box-arrow-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/box-arrow-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/boxing-glove-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/brackets-angle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/brackets-curly-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/brackets-round-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/brackets-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/brain-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/brandy-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bread-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bridge-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/briefcase-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/briefcase-metal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/broadcast-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/broom-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/browser-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/browsers-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bug-beetle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bug-droid-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bug-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/building-apartment-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/building-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/building-office-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/buildings-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bulldozer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/bus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/butterfly-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cable-car-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cactus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cake-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calculator-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-blank-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-check-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-dot-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-dots-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-heart-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-star-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/calendar-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/call-bell-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/camera-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/camera-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/camera-rotate-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/camera-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/campfire-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/car-battery-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/car-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/car-profile-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/car-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cardholder-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cards-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cards-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-circle-double-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-circle-double-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-circle-double-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-circle-double-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-circle-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-circle-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-circle-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-circle-up-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-circle-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-double-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-double-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-double-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-double-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-line-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-line-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-line-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-line-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-up-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/caret-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/carrot-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cash-register-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cassette-tape-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/castle-turret-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cell-signal-full-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cell-signal-high-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cell-signal-low-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cell-signal-medium-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cell-signal-none-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cell-signal-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cell-signal-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cell-tower-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/certificate-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chair-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chalkboard-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chalkboard-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chalkboard-teacher-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/champagne-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/charging-station-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-bar-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-bar-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-donut-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-line-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-line-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-line-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-pie-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-pie-slice-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-polar-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chart-scatter-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-centered-dots-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-centered-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-centered-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-centered-text-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-circle-dots-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-circle-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-circle-text-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-dots-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-teardrop-dots-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-teardrop-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-teardrop-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-teardrop-text-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chat-text-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chats-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chats-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chats-teardrop-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/check-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/check-fat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/check-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/check-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/check-square-offset-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/checkerboard-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/checks-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cheers-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cheese-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/chef-hat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cherries-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/church-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cigarette-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cigarette-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/circle-dashed-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/circle-half-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/circle-half-tilt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/circle-notch-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/circles-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/circles-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/circles-three-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/circuitry-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/city-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/clipboard-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/clipboard-text-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/clock-afternoon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/clock-clockwise-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/clock-countdown-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/clock-counter-clockwise-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/clock-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/clock-user-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/closed-captioning-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-arrow-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-arrow-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-check-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-fog-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-lightning-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-moon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-rain-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-snow-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-sun-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-warning-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cloud-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/clover-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/club-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/coat-hanger-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/coda-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/code-block-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/code-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/code-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/codepen-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/codesandbox-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/coffee-bean-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/coffee-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/coin-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/coin-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/coins-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/columns-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/columns-plus-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/columns-plus-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/command-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/compass-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/compass-rose-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/compass-tool-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/computer-tower-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/confetti-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/contactless-payment-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/control-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cookie-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cooking-pot-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/copy-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/copy-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/copyleft-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/copyright-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/corners-in-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/corners-out-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/couch-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/court-basketball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cow-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cowboy-hat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cpu-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/crane-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/crane-tower-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/credit-card-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cricket-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/crop-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cross-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/crosshair-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/crosshair-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/crown-cross-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/crown-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/crown-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cube-focus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cube-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cube-transparent-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-btc-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-circle-dollar-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-cny-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-dollar-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-dollar-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-eth-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-eur-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-gbp-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-inr-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-jpy-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-krw-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-kzt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-ngn-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/currency-rub-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cursor-click-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cursor-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cursor-text-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/cylinder-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/database-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/desk-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/desktop-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/desktop-tower-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/detective-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dev-to-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/device-mobile-camera-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/device-mobile-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/device-mobile-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/device-mobile-speaker-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/device-rotate-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/device-tablet-camera-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/device-tablet-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/device-tablet-speaker-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/devices-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/diamond-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/diamonds-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dice-five-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dice-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dice-one-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dice-six-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dice-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dice-two-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/disc-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/disco-ball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/discord-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/divide-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dna-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dog-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/door-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/door-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dot-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dot-outline-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dots-nine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dots-six-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dots-six-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dots-three-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dots-three-circle-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dots-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dots-three-outline-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dots-three-outline-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dots-three-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/download-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/download-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dress-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dresser-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dribbble-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/drone-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/drop-half-bottom-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/drop-half-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/drop-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/drop-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/drop-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/dropbox-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ear-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ear-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/egg-crack-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/egg-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eject-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eject-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/elevator-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/empty-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/engine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/envelope-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/envelope-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/envelope-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/envelope-simple-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/equalizer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/equals-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eraser-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/escalator-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/escalator-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/exam-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/exclamation-mark-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/exclude-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/exclude-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/export-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eye-closed-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eye-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eye-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eyedropper-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eyedropper-sample-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eyeglasses-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/eyes-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/face-mask-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/facebook-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/factory-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/faders-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/faders-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fallout-shelter-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fan-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/farm-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fast-forward-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fast-forward-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/feather-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fediverse-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/figma-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-archive-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-arrow-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-arrow-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-audio-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-c-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-c-sharp-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-cloud-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-code-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-cpp-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-css-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-csv-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-dashed-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-doc-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-html-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-image-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-ini-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-jpg-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-js-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-jsx-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-lock-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-magnifying-glass-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-md-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-pdf-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-png-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-ppt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-py-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-rs-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-sql-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-svg-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-text-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-ts-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-tsx-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-txt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-video-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-vue-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-xls-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/file-zip-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/files-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/film-reel-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/film-script-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/film-slate-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/film-strip-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fingerprint-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fingerprint-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/finn-the-human-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fire-extinguisher-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fire-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fire-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fire-truck-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/first-aid-kit-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/first-aid-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fish-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fish-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flag-banner-fold-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flag-banner-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flag-checkered-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flag-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flag-pennant-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flame-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flashlight-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flask-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flip-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flip-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/floppy-disk-back-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/floppy-disk-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flow-arrow-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flower-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flower-lotus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flower-tulip-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/flying-saucer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-dashed-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-lock-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-simple-dashed-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-simple-lock-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-simple-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-simple-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-simple-star-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-simple-user-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-star-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folder-user-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/folders-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/football-helmet-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/football-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/footprints-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/fork-knife-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/four-k-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/frame-corners-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/framer-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/function-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/funnel-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/funnel-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/funnel-simple-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/funnel-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/game-controller-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/garage-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gas-can-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gas-pump-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gauge-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gavel-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gear-fine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gear-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gear-six-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gender-female-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gender-intersex-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gender-male-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gender-neuter-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gender-nonbinary-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gender-transgender-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ghost-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gif-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gift-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/git-branch-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/git-commit-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/git-diff-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/git-fork-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/git-merge-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/git-pull-request-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/github-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gitlab-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gitlab-logo-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/globe-hemisphere-east-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/globe-hemisphere-west-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/globe-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/globe-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/globe-simple-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/globe-stand-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/globe-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/goggles-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/golf-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/goodreads-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/google-cardboard-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/google-chrome-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/google-drive-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/google-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/google-photos-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/google-play-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/google-podcasts-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gps-fix-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gps-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gps-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/gradient-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/graduation-cap-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/grains-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/grains-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/graph-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/graphics-card-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/greater-than-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/greater-than-or-equal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/grid-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/grid-nine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/guitar-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hair-dryer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hamburger-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hammer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-arrow-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-arrow-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-coins-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-deposit-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-eye-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-fist-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-grabbing-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-heart-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-palm-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-peace-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-pointing-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-soap-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-swipe-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-swipe-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-tap-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-waving-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hand-withdraw-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/handbag-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/handbag-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hands-clapping-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hands-praying-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/handshake-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hard-drive-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hard-drives-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hard-hat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hash-straight-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/head-circuit-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/headlights-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/headphones-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/headset-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/heart-break-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/heart-half-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/heart-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/heart-straight-break-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/heart-straight-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/heartbeat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hexagon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/high-definition-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/high-heel-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/highlighter-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/highlighter-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hockey-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hoodie-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/horse-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hospital-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hourglass-high-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hourglass-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hourglass-low-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hourglass-medium-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hourglass-simple-high-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hourglass-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hourglass-simple-low-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hourglass-simple-medium-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/house-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/house-line-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/house-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/hurricane-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ice-cream-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/identification-badge-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/identification-card-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/image-broken-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/image-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/image-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/images-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/images-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/infinity-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/info-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/instagram-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/intersect-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/intersect-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/intersect-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/intersection-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/invoice-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/island-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/jar-label-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/jar-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/jeep-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/joystick-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/kanban-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/key-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/key-return-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/keyboard-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/keyhole-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/knife-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ladder-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ladder-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lamp-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lamp-pendant-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/laptop-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lasso-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lastfm-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/layout-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/leaf-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lectern-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lego-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lego-smiley-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/less-than-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/less-than-or-equal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/letter-circle-h-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/letter-circle-p-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/letter-circle-v-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lifebuoy-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lightbulb-filament-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lightbulb-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lighthouse-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lightning-a-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lightning-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lightning-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/line-segment-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/line-segments-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/line-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/link-break-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/link-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/link-simple-break-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/link-simple-horizontal-break-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/link-simple-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/link-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/linkedin-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/linktree-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/linux-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/list-bullets-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/list-checks-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/list-dashes-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/list-heart-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/list-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/list-magnifying-glass-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/list-numbers-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/list-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/list-star-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lock-key-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lock-key-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lock-laminated-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lock-laminated-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lock-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lock-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lock-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lock-simple-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/lockers-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/log-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/magic-wand-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/magnet-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/magnet-straight-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/magnifying-glass-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/magnifying-glass-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/magnifying-glass-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mailbox-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/map-pin-area-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/map-pin-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/map-pin-line-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/map-pin-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/map-pin-simple-area-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/map-pin-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/map-pin-simple-line-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/map-trifold-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/markdown-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/marker-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/martini-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mask-happy-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mask-sad-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mastodon-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/math-operations-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/matrix-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/medal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/medal-military-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/medium-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/megaphone-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/megaphone-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/member-of-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/memory-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/messenger-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/meta-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/meteor-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/metronome-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/microphone-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/microphone-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/microphone-stage-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/microscope-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/microsoft-excel-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/microsoft-outlook-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/microsoft-powerpoint-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/microsoft-teams-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/microsoft-word-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/minus-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/minus-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/money-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/money-wavy-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/monitor-arrow-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/monitor-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/monitor-play-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/moon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/moon-stars-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/moped-front-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/moped-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mosque-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/motorcycle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mountains-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mouse-left-click-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mouse-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mouse-middle-click-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mouse-right-click-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mouse-scroll-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/mouse-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/music-note-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/music-note-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/music-notes-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/music-notes-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/music-notes-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/music-notes-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/navigation-arrow-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/needle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/network-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/network-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/network-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/newspaper-clipping-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/newspaper-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/not-equals-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/not-member-of-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/not-subset-of-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/not-superset-of-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/notches-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/note-blank-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/note-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/note-pencil-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/notebook-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/notepad-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/notification-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/notion-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/nuclear-plant-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-eight-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-five-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-nine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-one-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-seven-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-six-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-two-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-circle-zero-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-eight-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-five-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-nine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-one-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-seven-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-six-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-eight-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-five-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-nine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-one-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-seven-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-six-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-two-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-square-zero-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-two-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/number-zero-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/numpad-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/nut-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ny-times-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/octagon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/office-chair-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/onigiri-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/open-ai-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/option-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/orange-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/orange-slice-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/oven-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/package-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paint-brush-broad-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paint-brush-household-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paint-brush-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paint-bucket-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paint-roller-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/palette-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/panorama-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pants-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paper-plane-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paper-plane-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paper-plane-tilt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paperclip-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paperclip-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/parachute-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paragraph-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/parallelogram-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/park-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/password-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/path-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/patreon-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pause-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pause-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paw-print-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/paypal-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/peace-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pen-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pen-nib-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pen-nib-straight-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pencil-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pencil-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pencil-line-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pencil-ruler-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pencil-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pencil-simple-line-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pencil-simple-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pencil-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pentagon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pentagram-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pepper-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/percent-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-arms-spread-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-bike-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-hike-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-run-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-ski-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-snowboard-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-swim-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-tai-chi-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-throw-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/person-simple-walk-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/perspective-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-call-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-disconnect-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-incoming-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-list-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-outgoing-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-pause-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-transfer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phone-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/phosphor-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pi-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/piano-keys-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/picnic-table-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/picture-in-picture-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/piggy-bank-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pill-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ping-pong-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pint-glass-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pinterest-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pinwheel-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pipe-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pipe-wrench-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pix-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pizza-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/placeholder-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/planet-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/plant-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/play-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/play-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/play-pause-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/playlist-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/plug-charging-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/plug-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/plugs-connected-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/plugs-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/plus-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/plus-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/plus-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/poker-chip-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/police-car-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/polygon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/popcorn-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/popsicle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/potted-plant-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/power-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/prescription-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/presentation-chart-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/presentation-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/printer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/prohibit-inset-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/prohibit-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/projector-screen-chart-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/projector-screen-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/pulse-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/push-pin-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/push-pin-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/push-pin-simple-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/push-pin-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/puzzle-piece-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/qr-code-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/question-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/question-mark-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/queue-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/quotes-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rabbit-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/racquet-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/radical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/radio-button-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/radio-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/radioactive-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rainbow-cloud-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rainbow-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ranking-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/read-cv-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/receipt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/receipt-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/record-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rectangle-dashed-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rectangle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/recycle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/reddit-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/repeat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/repeat-once-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/replit-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/resize-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rewind-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rewind-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/road-horizon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/robot-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rocket-launch-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rocket-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rows-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rows-plus-bottom-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rows-plus-top-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rss-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rss-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/rug-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ruler-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sailboat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/scales-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/scan-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/scan-smiley-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/scissors-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/scooter-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/screencast-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/screwdriver-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/scribble-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/scribble-loop-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/scroll-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/seal-check-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/seal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/seal-percent-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/seal-question-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/seal-warning-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/seat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/seatbelt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/security-camera-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/selection-all-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/selection-background-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/selection-foreground-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/selection-inverse-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/selection-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/selection-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/selection-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shapes-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/share-fat-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/share-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/share-network-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shield-check-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shield-checkered-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shield-chevron-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shield-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shield-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shield-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shield-star-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shield-warning-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shipping-container-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shirt-folded-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shooting-star-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shopping-bag-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shopping-bag-open-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shopping-cart-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shopping-cart-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shovel-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shower-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shrimp-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shuffle-angular-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shuffle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/shuffle-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sidebar-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sidebar-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sigma-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sign-in-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sign-out-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/signature-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/signpost-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sim-card-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/siren-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sketch-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/skip-back-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/skip-back-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/skip-forward-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/skip-forward-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/skull-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/skype-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/slack-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sliders-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sliders-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/slideshow-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-angry-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-blank-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-meh-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-melting-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-nervous-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-sad-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-sticker-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-wink-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/smiley-x-eyes-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/snapchat-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sneaker-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sneaker-move-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/snowflake-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/soccer-ball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sock-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/solar-panel-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/solar-roof-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sort-ascending-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sort-descending-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/soundcloud-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/spade-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sparkle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-hifi-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-high-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-low-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-none-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-simple-high-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-simple-low-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-simple-none-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-simple-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-simple-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speaker-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/speedometer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sphere-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/spinner-ball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/spinner-gap-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/spinner-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/spiral-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/split-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/split-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/spotify-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/spray-bottle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/square-half-bottom-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/square-half-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/square-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/square-split-horizontal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/square-split-vertical-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/squares-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stack-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stack-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stack-overflow-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stack-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stack-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stairs-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stamp-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/standard-definition-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/star-and-crescent-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/star-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/star-half-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/star-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/star-of-david-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/steam-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/steering-wheel-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/steps-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stethoscope-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sticker-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stool-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stop-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stop-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/storefront-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/strategy-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/stripe-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/student-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/subset-of-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/subset-proper-of-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/subtitles-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/subtitles-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/subtract-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/subtract-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/subway-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/suitcase-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/suitcase-rolling-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/suitcase-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sun-dim-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sun-horizon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sun-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sunglasses-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/superset-of-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/superset-proper-of-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/swap-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/swatches-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/swimming-pool-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/sword-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/synagogue-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/syringe-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/t-shirt-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/table-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tabs-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tag-chevron-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tag-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tag-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/target-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/taxi-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tea-bag-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/telegram-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/television-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/television-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tennis-ball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tent-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/terminal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/terminal-window-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/test-tube-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-a-underline-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-aa-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-align-center-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-align-justify-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-align-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-align-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-b-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-columns-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-h-five-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-h-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-h-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-h-one-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-h-six-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-h-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-h-two-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-indent-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-italic-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-outdent-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-strikethrough-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-subscript-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-superscript-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-t-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-t-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/text-underline-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/textbox-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/thermometer-cold-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/thermometer-hot-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/thermometer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/thermometer-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/threads-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/three-d-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/thumbs-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/thumbs-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/ticket-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tidal-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tiktok-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tilde-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/timer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tip-jar-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tipi-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tire-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/toggle-left-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/toggle-right-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/toilet-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/toilet-paper-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/toolbox-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tooth-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tornado-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tote-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tote-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/towel-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tractor-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/trademark-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/trademark-registered-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/traffic-cone-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/traffic-sign-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/traffic-signal-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/train-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/train-regional-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/train-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tram-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/translate-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/trash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/trash-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tray-arrow-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tray-arrow-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tray-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/treasure-chest-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tree-evergreen-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tree-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tree-palm-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tree-structure-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tree-view-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/trend-down-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/trend-up-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/triangle-dashed-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/triangle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/trolley-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/trolley-suitcase-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/trophy-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/truck-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/truck-trailer-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/tumblr-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/twitch-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/twitter-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/umbrella-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/umbrella-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/union-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/unite-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/unite-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/upload-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/upload-simple-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/usb-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-check-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-circle-check-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-circle-dashed-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-circle-gear-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-circle-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-circle-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-focus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-gear-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-list-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-minus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-plus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-rectangle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-sound-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/user-switch-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/users-four-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/users-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/users-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/van-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/vault-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/vector-three-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/vector-two-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/vibrate-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/video-camera-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/video-camera-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/video-conference-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/video-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/vignette-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/vinyl-record-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/virtual-reality-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/virus-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/visor-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/voicemail-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/volleyball-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wall-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wallet-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/warehouse-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/warning-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/warning-diamond-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/warning-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/warning-octagon-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/washing-machine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/watch-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wave-sawtooth-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wave-sine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wave-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wave-triangle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/waveform-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/waveform-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/waves-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/webcam-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/webcam-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/webhooks-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wechat-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/whatsapp-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wheelchair-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wheelchair-motion-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wifi-high-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wifi-low-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wifi-medium-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wifi-none-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wifi-slash-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wifi-x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wind-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/windmill-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/windows-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wine-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/wrench-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/x-circle-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/x-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/x-logo-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/x-square-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/yarn-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/yin-yang-light.svg | - | ⚠️ | File very short |
| static/icons/svg/light/youtube-logo-light.svg | - | ⚠️ | File very short |

---
## Next Steps
- [ ] Review `static/icons/svg/light/acorn-light.svg`
- [ ] Review `static/icons/svg/light/address-book-light.svg`
- [ ] Review `static/icons/svg/light/address-book-tabs-light.svg`
- [ ] Review `static/icons/svg/light/air-traffic-control-light.svg`
- [ ] Review `static/icons/svg/light/airplane-in-flight-light.svg`
- [ ] Review `static/icons/svg/light/airplane-landing-light.svg`
- [ ] Review `static/icons/svg/light/airplane-light.svg`
- [ ] Review `static/icons/svg/light/airplane-takeoff-light.svg`
- [ ] Review `static/icons/svg/light/airplane-taxiing-light.svg`
- [ ] Review `static/icons/svg/light/airplane-tilt-light.svg`
- [ ] Review `static/icons/svg/light/airplay-light.svg`
- [ ] Review `static/icons/svg/light/alarm-light.svg`
- [ ] Review `static/icons/svg/light/alien-light.svg`
- [ ] Review `static/icons/svg/light/align-bottom-light.svg`
- [ ] Review `static/icons/svg/light/align-bottom-simple-light.svg`
- [ ] Review `static/icons/svg/light/align-center-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/align-center-horizontal-simple-light.svg`
- [ ] Review `static/icons/svg/light/align-center-vertical-light.svg`
- [ ] Review `static/icons/svg/light/align-center-vertical-simple-light.svg`
- [ ] Review `static/icons/svg/light/align-left-light.svg`
- [ ] Review `static/icons/svg/light/align-left-simple-light.svg`
- [ ] Review `static/icons/svg/light/align-right-light.svg`
- [ ] Review `static/icons/svg/light/align-right-simple-light.svg`
- [ ] Review `static/icons/svg/light/align-top-light.svg`
- [ ] Review `static/icons/svg/light/align-top-simple-light.svg`
- [ ] Review `static/icons/svg/light/amazon-logo-light.svg`
- [ ] Review `static/icons/svg/light/ambulance-light.svg`
- [ ] Review `static/icons/svg/light/anchor-light.svg`
- [ ] Review `static/icons/svg/light/anchor-simple-light.svg`
- [ ] Review `static/icons/svg/light/android-logo-light.svg`
- [ ] Review `static/icons/svg/light/angle-light.svg`
- [ ] Review `static/icons/svg/light/angular-logo-light.svg`
- [ ] Review `static/icons/svg/light/aperture-light.svg`
- [ ] Review `static/icons/svg/light/app-store-logo-light.svg`
- [ ] Review `static/icons/svg/light/app-window-light.svg`
- [ ] Review `static/icons/svg/light/apple-logo-light.svg`
- [ ] Review `static/icons/svg/light/apple-podcasts-logo-light.svg`
- [ ] Review `static/icons/svg/light/approximate-equals-light.svg`
- [ ] Review `static/icons/svg/light/archive-light.svg`
- [ ] Review `static/icons/svg/light/armchair-light.svg`
- [ ] Review `static/icons/svg/light/arrow-arc-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-arc-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-double-up-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-double-up-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-down-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-down-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-left-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-left-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-right-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-right-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-up-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-bend-up-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-circle-down-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-circle-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-circle-down-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-circle-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-circle-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-circle-up-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-circle-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-circle-up-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-clockwise-light.svg`
- [ ] Review `static/icons/svg/light/arrow-counter-clockwise-light.svg`
- [ ] Review `static/icons/svg/light/arrow-down-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-down-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-down-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-down-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-left-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-left-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-right-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-right-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-up-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-elbow-up-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-line-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-line-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-line-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-line-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-lines-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-lines-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-lines-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-lines-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-fat-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-line-down-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-line-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-line-down-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-line-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-line-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-line-up-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-line-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-line-up-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-down-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-down-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-in-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-out-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-up-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-square-up-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-u-down-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-u-down-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-u-left-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-u-left-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-u-right-down-light.svg`
- [ ] Review `static/icons/svg/light/arrow-u-right-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-u-up-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-u-up-right-light.svg`
- [ ] Review `static/icons/svg/light/arrow-up-left-light.svg`
- [ ] Review `static/icons/svg/light/arrow-up-light.svg`
- [ ] Review `static/icons/svg/light/arrow-up-right-light.svg`
- [ ] Review `static/icons/svg/light/arrows-clockwise-light.svg`
- [ ] Review `static/icons/svg/light/arrows-counter-clockwise-light.svg`
- [ ] Review `static/icons/svg/light/arrows-down-up-light.svg`
- [ ] Review `static/icons/svg/light/arrows-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/arrows-in-cardinal-light.svg`
- [ ] Review `static/icons/svg/light/arrows-in-light.svg`
- [ ] Review `static/icons/svg/light/arrows-in-line-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/arrows-in-line-vertical-light.svg`
- [ ] Review `static/icons/svg/light/arrows-in-simple-light.svg`
- [ ] Review `static/icons/svg/light/arrows-left-right-light.svg`
- [ ] Review `static/icons/svg/light/arrows-merge-light.svg`
- [ ] Review `static/icons/svg/light/arrows-out-cardinal-light.svg`
- [ ] Review `static/icons/svg/light/arrows-out-light.svg`
- [ ] Review `static/icons/svg/light/arrows-out-line-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/arrows-out-line-vertical-light.svg`
- [ ] Review `static/icons/svg/light/arrows-out-simple-light.svg`
- [ ] Review `static/icons/svg/light/arrows-split-light.svg`
- [ ] Review `static/icons/svg/light/arrows-vertical-light.svg`
- [ ] Review `static/icons/svg/light/article-light.svg`
- [ ] Review `static/icons/svg/light/article-medium-light.svg`
- [ ] Review `static/icons/svg/light/article-ny-times-light.svg`
- [ ] Review `static/icons/svg/light/asclepius-light.svg`
- [ ] Review `static/icons/svg/light/asterisk-light.svg`
- [ ] Review `static/icons/svg/light/asterisk-simple-light.svg`
- [ ] Review `static/icons/svg/light/at-light.svg`
- [ ] Review `static/icons/svg/light/atom-light.svg`
- [ ] Review `static/icons/svg/light/avocado-light.svg`
- [ ] Review `static/icons/svg/light/axe-light.svg`
- [ ] Review `static/icons/svg/light/baby-carriage-light.svg`
- [ ] Review `static/icons/svg/light/baby-light.svg`
- [ ] Review `static/icons/svg/light/backpack-light.svg`
- [ ] Review `static/icons/svg/light/backspace-light.svg`
- [ ] Review `static/icons/svg/light/bag-light.svg`
- [ ] Review `static/icons/svg/light/bag-simple-light.svg`
- [ ] Review `static/icons/svg/light/balloon-light.svg`
- [ ] Review `static/icons/svg/light/bandaids-light.svg`
- [ ] Review `static/icons/svg/light/bank-light.svg`
- [ ] Review `static/icons/svg/light/barbell-light.svg`
- [ ] Review `static/icons/svg/light/barcode-light.svg`
- [ ] Review `static/icons/svg/light/barn-light.svg`
- [ ] Review `static/icons/svg/light/barricade-light.svg`
- [ ] Review `static/icons/svg/light/baseball-cap-light.svg`
- [ ] Review `static/icons/svg/light/baseball-helmet-light.svg`
- [ ] Review `static/icons/svg/light/baseball-light.svg`
- [ ] Review `static/icons/svg/light/basket-light.svg`
- [ ] Review `static/icons/svg/light/basketball-light.svg`
- [ ] Review `static/icons/svg/light/bathtub-light.svg`
- [ ] Review `static/icons/svg/light/battery-charging-light.svg`
- [ ] Review `static/icons/svg/light/battery-charging-vertical-light.svg`
- [ ] Review `static/icons/svg/light/battery-empty-light.svg`
- [ ] Review `static/icons/svg/light/battery-full-light.svg`
- [ ] Review `static/icons/svg/light/battery-high-light.svg`
- [ ] Review `static/icons/svg/light/battery-low-light.svg`
- [ ] Review `static/icons/svg/light/battery-medium-light.svg`
- [ ] Review `static/icons/svg/light/battery-plus-light.svg`
- [ ] Review `static/icons/svg/light/battery-plus-vertical-light.svg`
- [ ] Review `static/icons/svg/light/battery-vertical-empty-light.svg`
- [ ] Review `static/icons/svg/light/battery-vertical-full-light.svg`
- [ ] Review `static/icons/svg/light/battery-vertical-high-light.svg`
- [ ] Review `static/icons/svg/light/battery-vertical-low-light.svg`
- [ ] Review `static/icons/svg/light/battery-vertical-medium-light.svg`
- [ ] Review `static/icons/svg/light/battery-warning-light.svg`
- [ ] Review `static/icons/svg/light/battery-warning-vertical-light.svg`
- [ ] Review `static/icons/svg/light/beach-ball-light.svg`
- [ ] Review `static/icons/svg/light/beanie-light.svg`
- [ ] Review `static/icons/svg/light/bed-light.svg`
- [ ] Review `static/icons/svg/light/beer-bottle-light.svg`
- [ ] Review `static/icons/svg/light/beer-stein-light.svg`
- [ ] Review `static/icons/svg/light/behance-logo-light.svg`
- [ ] Review `static/icons/svg/light/bell-light.svg`
- [ ] Review `static/icons/svg/light/bell-ringing-light.svg`
- [ ] Review `static/icons/svg/light/bell-simple-light.svg`
- [ ] Review `static/icons/svg/light/bell-simple-ringing-light.svg`
- [ ] Review `static/icons/svg/light/bell-simple-slash-light.svg`
- [ ] Review `static/icons/svg/light/bell-simple-z-light.svg`
- [ ] Review `static/icons/svg/light/bell-slash-light.svg`
- [ ] Review `static/icons/svg/light/bell-z-light.svg`
- [ ] Review `static/icons/svg/light/belt-light.svg`
- [ ] Review `static/icons/svg/light/bezier-curve-light.svg`
- [ ] Review `static/icons/svg/light/bicycle-light.svg`
- [ ] Review `static/icons/svg/light/binary-light.svg`
- [ ] Review `static/icons/svg/light/binoculars-light.svg`
- [ ] Review `static/icons/svg/light/biohazard-light.svg`
- [ ] Review `static/icons/svg/light/bird-light.svg`
- [ ] Review `static/icons/svg/light/blueprint-light.svg`
- [ ] Review `static/icons/svg/light/bluetooth-connected-light.svg`
- [ ] Review `static/icons/svg/light/bluetooth-light.svg`
- [ ] Review `static/icons/svg/light/bluetooth-slash-light.svg`
- [ ] Review `static/icons/svg/light/bluetooth-x-light.svg`
- [ ] Review `static/icons/svg/light/boat-light.svg`
- [ ] Review `static/icons/svg/light/bomb-light.svg`
- [ ] Review `static/icons/svg/light/bone-light.svg`
- [ ] Review `static/icons/svg/light/book-bookmark-light.svg`
- [ ] Review `static/icons/svg/light/book-light.svg`
- [ ] Review `static/icons/svg/light/book-open-light.svg`
- [ ] Review `static/icons/svg/light/book-open-text-light.svg`
- [ ] Review `static/icons/svg/light/book-open-user-light.svg`
- [ ] Review `static/icons/svg/light/bookmark-light.svg`
- [ ] Review `static/icons/svg/light/bookmark-simple-light.svg`
- [ ] Review `static/icons/svg/light/bookmarks-light.svg`
- [ ] Review `static/icons/svg/light/bookmarks-simple-light.svg`
- [ ] Review `static/icons/svg/light/books-light.svg`
- [ ] Review `static/icons/svg/light/boot-light.svg`
- [ ] Review `static/icons/svg/light/boules-light.svg`
- [ ] Review `static/icons/svg/light/bounding-box-light.svg`
- [ ] Review `static/icons/svg/light/bowl-food-light.svg`
- [ ] Review `static/icons/svg/light/bowl-steam-light.svg`
- [ ] Review `static/icons/svg/light/bowling-ball-light.svg`
- [ ] Review `static/icons/svg/light/box-arrow-down-light.svg`
- [ ] Review `static/icons/svg/light/box-arrow-up-light.svg`
- [ ] Review `static/icons/svg/light/boxing-glove-light.svg`
- [ ] Review `static/icons/svg/light/brackets-angle-light.svg`
- [ ] Review `static/icons/svg/light/brackets-curly-light.svg`
- [ ] Review `static/icons/svg/light/brackets-round-light.svg`
- [ ] Review `static/icons/svg/light/brackets-square-light.svg`
- [ ] Review `static/icons/svg/light/brain-light.svg`
- [ ] Review `static/icons/svg/light/brandy-light.svg`
- [ ] Review `static/icons/svg/light/bread-light.svg`
- [ ] Review `static/icons/svg/light/bridge-light.svg`
- [ ] Review `static/icons/svg/light/briefcase-light.svg`
- [ ] Review `static/icons/svg/light/briefcase-metal-light.svg`
- [ ] Review `static/icons/svg/light/broadcast-light.svg`
- [ ] Review `static/icons/svg/light/broom-light.svg`
- [ ] Review `static/icons/svg/light/browser-light.svg`
- [ ] Review `static/icons/svg/light/browsers-light.svg`
- [ ] Review `static/icons/svg/light/bug-beetle-light.svg`
- [ ] Review `static/icons/svg/light/bug-droid-light.svg`
- [ ] Review `static/icons/svg/light/bug-light.svg`
- [ ] Review `static/icons/svg/light/building-apartment-light.svg`
- [ ] Review `static/icons/svg/light/building-light.svg`
- [ ] Review `static/icons/svg/light/building-office-light.svg`
- [ ] Review `static/icons/svg/light/buildings-light.svg`
- [ ] Review `static/icons/svg/light/bulldozer-light.svg`
- [ ] Review `static/icons/svg/light/bus-light.svg`
- [ ] Review `static/icons/svg/light/butterfly-light.svg`
- [ ] Review `static/icons/svg/light/cable-car-light.svg`
- [ ] Review `static/icons/svg/light/cactus-light.svg`
- [ ] Review `static/icons/svg/light/cake-light.svg`
- [ ] Review `static/icons/svg/light/calculator-light.svg`
- [ ] Review `static/icons/svg/light/calendar-blank-light.svg`
- [ ] Review `static/icons/svg/light/calendar-check-light.svg`
- [ ] Review `static/icons/svg/light/calendar-dot-light.svg`
- [ ] Review `static/icons/svg/light/calendar-dots-light.svg`
- [ ] Review `static/icons/svg/light/calendar-heart-light.svg`
- [ ] Review `static/icons/svg/light/calendar-light.svg`
- [ ] Review `static/icons/svg/light/calendar-minus-light.svg`
- [ ] Review `static/icons/svg/light/calendar-plus-light.svg`
- [ ] Review `static/icons/svg/light/calendar-slash-light.svg`
- [ ] Review `static/icons/svg/light/calendar-star-light.svg`
- [ ] Review `static/icons/svg/light/calendar-x-light.svg`
- [ ] Review `static/icons/svg/light/call-bell-light.svg`
- [ ] Review `static/icons/svg/light/camera-light.svg`
- [ ] Review `static/icons/svg/light/camera-plus-light.svg`
- [ ] Review `static/icons/svg/light/camera-rotate-light.svg`
- [ ] Review `static/icons/svg/light/camera-slash-light.svg`
- [ ] Review `static/icons/svg/light/campfire-light.svg`
- [ ] Review `static/icons/svg/light/car-battery-light.svg`
- [ ] Review `static/icons/svg/light/car-light.svg`
- [ ] Review `static/icons/svg/light/car-profile-light.svg`
- [ ] Review `static/icons/svg/light/car-simple-light.svg`
- [ ] Review `static/icons/svg/light/cardholder-light.svg`
- [ ] Review `static/icons/svg/light/cards-light.svg`
- [ ] Review `static/icons/svg/light/cards-three-light.svg`
- [ ] Review `static/icons/svg/light/caret-circle-double-down-light.svg`
- [ ] Review `static/icons/svg/light/caret-circle-double-left-light.svg`
- [ ] Review `static/icons/svg/light/caret-circle-double-right-light.svg`
- [ ] Review `static/icons/svg/light/caret-circle-double-up-light.svg`
- [ ] Review `static/icons/svg/light/caret-circle-down-light.svg`
- [ ] Review `static/icons/svg/light/caret-circle-left-light.svg`
- [ ] Review `static/icons/svg/light/caret-circle-right-light.svg`
- [ ] Review `static/icons/svg/light/caret-circle-up-down-light.svg`
- [ ] Review `static/icons/svg/light/caret-circle-up-light.svg`
- [ ] Review `static/icons/svg/light/caret-double-down-light.svg`
- [ ] Review `static/icons/svg/light/caret-double-left-light.svg`
- [ ] Review `static/icons/svg/light/caret-double-right-light.svg`
- [ ] Review `static/icons/svg/light/caret-double-up-light.svg`
- [ ] Review `static/icons/svg/light/caret-down-light.svg`
- [ ] Review `static/icons/svg/light/caret-left-light.svg`
- [ ] Review `static/icons/svg/light/caret-line-down-light.svg`
- [ ] Review `static/icons/svg/light/caret-line-left-light.svg`
- [ ] Review `static/icons/svg/light/caret-line-right-light.svg`
- [ ] Review `static/icons/svg/light/caret-line-up-light.svg`
- [ ] Review `static/icons/svg/light/caret-right-light.svg`
- [ ] Review `static/icons/svg/light/caret-up-down-light.svg`
- [ ] Review `static/icons/svg/light/caret-up-light.svg`
- [ ] Review `static/icons/svg/light/carrot-light.svg`
- [ ] Review `static/icons/svg/light/cash-register-light.svg`
- [ ] Review `static/icons/svg/light/cassette-tape-light.svg`
- [ ] Review `static/icons/svg/light/castle-turret-light.svg`
- [ ] Review `static/icons/svg/light/cat-light.svg`
- [ ] Review `static/icons/svg/light/cell-signal-full-light.svg`
- [ ] Review `static/icons/svg/light/cell-signal-high-light.svg`
- [ ] Review `static/icons/svg/light/cell-signal-low-light.svg`
- [ ] Review `static/icons/svg/light/cell-signal-medium-light.svg`
- [ ] Review `static/icons/svg/light/cell-signal-none-light.svg`
- [ ] Review `static/icons/svg/light/cell-signal-slash-light.svg`
- [ ] Review `static/icons/svg/light/cell-signal-x-light.svg`
- [ ] Review `static/icons/svg/light/cell-tower-light.svg`
- [ ] Review `static/icons/svg/light/certificate-light.svg`
- [ ] Review `static/icons/svg/light/chair-light.svg`
- [ ] Review `static/icons/svg/light/chalkboard-light.svg`
- [ ] Review `static/icons/svg/light/chalkboard-simple-light.svg`
- [ ] Review `static/icons/svg/light/chalkboard-teacher-light.svg`
- [ ] Review `static/icons/svg/light/champagne-light.svg`
- [ ] Review `static/icons/svg/light/charging-station-light.svg`
- [ ] Review `static/icons/svg/light/chart-bar-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/chart-bar-light.svg`
- [ ] Review `static/icons/svg/light/chart-donut-light.svg`
- [ ] Review `static/icons/svg/light/chart-line-down-light.svg`
- [ ] Review `static/icons/svg/light/chart-line-light.svg`
- [ ] Review `static/icons/svg/light/chart-line-up-light.svg`
- [ ] Review `static/icons/svg/light/chart-pie-light.svg`
- [ ] Review `static/icons/svg/light/chart-pie-slice-light.svg`
- [ ] Review `static/icons/svg/light/chart-polar-light.svg`
- [ ] Review `static/icons/svg/light/chart-scatter-light.svg`
- [ ] Review `static/icons/svg/light/chat-centered-dots-light.svg`
- [ ] Review `static/icons/svg/light/chat-centered-light.svg`
- [ ] Review `static/icons/svg/light/chat-centered-slash-light.svg`
- [ ] Review `static/icons/svg/light/chat-centered-text-light.svg`
- [ ] Review `static/icons/svg/light/chat-circle-dots-light.svg`
- [ ] Review `static/icons/svg/light/chat-circle-light.svg`
- [ ] Review `static/icons/svg/light/chat-circle-slash-light.svg`
- [ ] Review `static/icons/svg/light/chat-circle-text-light.svg`
- [ ] Review `static/icons/svg/light/chat-dots-light.svg`
- [ ] Review `static/icons/svg/light/chat-light.svg`
- [ ] Review `static/icons/svg/light/chat-slash-light.svg`
- [ ] Review `static/icons/svg/light/chat-teardrop-dots-light.svg`
- [ ] Review `static/icons/svg/light/chat-teardrop-light.svg`
- [ ] Review `static/icons/svg/light/chat-teardrop-slash-light.svg`
- [ ] Review `static/icons/svg/light/chat-teardrop-text-light.svg`
- [ ] Review `static/icons/svg/light/chat-text-light.svg`
- [ ] Review `static/icons/svg/light/chats-circle-light.svg`
- [ ] Review `static/icons/svg/light/chats-light.svg`
- [ ] Review `static/icons/svg/light/chats-teardrop-light.svg`
- [ ] Review `static/icons/svg/light/check-circle-light.svg`
- [ ] Review `static/icons/svg/light/check-fat-light.svg`
- [ ] Review `static/icons/svg/light/check-light.svg`
- [ ] Review `static/icons/svg/light/check-square-light.svg`
- [ ] Review `static/icons/svg/light/check-square-offset-light.svg`
- [ ] Review `static/icons/svg/light/checkerboard-light.svg`
- [ ] Review `static/icons/svg/light/checks-light.svg`
- [ ] Review `static/icons/svg/light/cheers-light.svg`
- [ ] Review `static/icons/svg/light/cheese-light.svg`
- [ ] Review `static/icons/svg/light/chef-hat-light.svg`
- [ ] Review `static/icons/svg/light/cherries-light.svg`
- [ ] Review `static/icons/svg/light/church-light.svg`
- [ ] Review `static/icons/svg/light/cigarette-light.svg`
- [ ] Review `static/icons/svg/light/cigarette-slash-light.svg`
- [ ] Review `static/icons/svg/light/circle-dashed-light.svg`
- [ ] Review `static/icons/svg/light/circle-half-light.svg`
- [ ] Review `static/icons/svg/light/circle-half-tilt-light.svg`
- [ ] Review `static/icons/svg/light/circle-light.svg`
- [ ] Review `static/icons/svg/light/circle-notch-light.svg`
- [ ] Review `static/icons/svg/light/circles-four-light.svg`
- [ ] Review `static/icons/svg/light/circles-three-light.svg`
- [ ] Review `static/icons/svg/light/circles-three-plus-light.svg`
- [ ] Review `static/icons/svg/light/circuitry-light.svg`
- [ ] Review `static/icons/svg/light/city-light.svg`
- [ ] Review `static/icons/svg/light/clipboard-light.svg`
- [ ] Review `static/icons/svg/light/clipboard-text-light.svg`
- [ ] Review `static/icons/svg/light/clock-afternoon-light.svg`
- [ ] Review `static/icons/svg/light/clock-clockwise-light.svg`
- [ ] Review `static/icons/svg/light/clock-countdown-light.svg`
- [ ] Review `static/icons/svg/light/clock-counter-clockwise-light.svg`
- [ ] Review `static/icons/svg/light/clock-light.svg`
- [ ] Review `static/icons/svg/light/clock-user-light.svg`
- [ ] Review `static/icons/svg/light/closed-captioning-light.svg`
- [ ] Review `static/icons/svg/light/cloud-arrow-down-light.svg`
- [ ] Review `static/icons/svg/light/cloud-arrow-up-light.svg`
- [ ] Review `static/icons/svg/light/cloud-check-light.svg`
- [ ] Review `static/icons/svg/light/cloud-fog-light.svg`
- [ ] Review `static/icons/svg/light/cloud-light.svg`
- [ ] Review `static/icons/svg/light/cloud-lightning-light.svg`
- [ ] Review `static/icons/svg/light/cloud-moon-light.svg`
- [ ] Review `static/icons/svg/light/cloud-rain-light.svg`
- [ ] Review `static/icons/svg/light/cloud-slash-light.svg`
- [ ] Review `static/icons/svg/light/cloud-snow-light.svg`
- [ ] Review `static/icons/svg/light/cloud-sun-light.svg`
- [ ] Review `static/icons/svg/light/cloud-warning-light.svg`
- [ ] Review `static/icons/svg/light/cloud-x-light.svg`
- [ ] Review `static/icons/svg/light/clover-light.svg`
- [ ] Review `static/icons/svg/light/club-light.svg`
- [ ] Review `static/icons/svg/light/coat-hanger-light.svg`
- [ ] Review `static/icons/svg/light/coda-logo-light.svg`
- [ ] Review `static/icons/svg/light/code-block-light.svg`
- [ ] Review `static/icons/svg/light/code-light.svg`
- [ ] Review `static/icons/svg/light/code-simple-light.svg`
- [ ] Review `static/icons/svg/light/codepen-logo-light.svg`
- [ ] Review `static/icons/svg/light/codesandbox-logo-light.svg`
- [ ] Review `static/icons/svg/light/coffee-bean-light.svg`
- [ ] Review `static/icons/svg/light/coffee-light.svg`
- [ ] Review `static/icons/svg/light/coin-light.svg`
- [ ] Review `static/icons/svg/light/coin-vertical-light.svg`
- [ ] Review `static/icons/svg/light/coins-light.svg`
- [ ] Review `static/icons/svg/light/columns-light.svg`
- [ ] Review `static/icons/svg/light/columns-plus-left-light.svg`
- [ ] Review `static/icons/svg/light/columns-plus-right-light.svg`
- [ ] Review `static/icons/svg/light/command-light.svg`
- [ ] Review `static/icons/svg/light/compass-light.svg`
- [ ] Review `static/icons/svg/light/compass-rose-light.svg`
- [ ] Review `static/icons/svg/light/compass-tool-light.svg`
- [ ] Review `static/icons/svg/light/computer-tower-light.svg`
- [ ] Review `static/icons/svg/light/confetti-light.svg`
- [ ] Review `static/icons/svg/light/contactless-payment-light.svg`
- [ ] Review `static/icons/svg/light/control-light.svg`
- [ ] Review `static/icons/svg/light/cookie-light.svg`
- [ ] Review `static/icons/svg/light/cooking-pot-light.svg`
- [ ] Review `static/icons/svg/light/copy-light.svg`
- [ ] Review `static/icons/svg/light/copy-simple-light.svg`
- [ ] Review `static/icons/svg/light/copyleft-light.svg`
- [ ] Review `static/icons/svg/light/copyright-light.svg`
- [ ] Review `static/icons/svg/light/corners-in-light.svg`
- [ ] Review `static/icons/svg/light/corners-out-light.svg`
- [ ] Review `static/icons/svg/light/couch-light.svg`
- [ ] Review `static/icons/svg/light/court-basketball-light.svg`
- [ ] Review `static/icons/svg/light/cow-light.svg`
- [ ] Review `static/icons/svg/light/cowboy-hat-light.svg`
- [ ] Review `static/icons/svg/light/cpu-light.svg`
- [ ] Review `static/icons/svg/light/crane-light.svg`
- [ ] Review `static/icons/svg/light/crane-tower-light.svg`
- [ ] Review `static/icons/svg/light/credit-card-light.svg`
- [ ] Review `static/icons/svg/light/cricket-light.svg`
- [ ] Review `static/icons/svg/light/crop-light.svg`
- [ ] Review `static/icons/svg/light/cross-light.svg`
- [ ] Review `static/icons/svg/light/crosshair-light.svg`
- [ ] Review `static/icons/svg/light/crosshair-simple-light.svg`
- [ ] Review `static/icons/svg/light/crown-cross-light.svg`
- [ ] Review `static/icons/svg/light/crown-light.svg`
- [ ] Review `static/icons/svg/light/crown-simple-light.svg`
- [ ] Review `static/icons/svg/light/cube-focus-light.svg`
- [ ] Review `static/icons/svg/light/cube-light.svg`
- [ ] Review `static/icons/svg/light/cube-transparent-light.svg`
- [ ] Review `static/icons/svg/light/currency-btc-light.svg`
- [ ] Review `static/icons/svg/light/currency-circle-dollar-light.svg`
- [ ] Review `static/icons/svg/light/currency-cny-light.svg`
- [ ] Review `static/icons/svg/light/currency-dollar-light.svg`
- [ ] Review `static/icons/svg/light/currency-dollar-simple-light.svg`
- [ ] Review `static/icons/svg/light/currency-eth-light.svg`
- [ ] Review `static/icons/svg/light/currency-eur-light.svg`
- [ ] Review `static/icons/svg/light/currency-gbp-light.svg`
- [ ] Review `static/icons/svg/light/currency-inr-light.svg`
- [ ] Review `static/icons/svg/light/currency-jpy-light.svg`
- [ ] Review `static/icons/svg/light/currency-krw-light.svg`
- [ ] Review `static/icons/svg/light/currency-kzt-light.svg`
- [ ] Review `static/icons/svg/light/currency-ngn-light.svg`
- [ ] Review `static/icons/svg/light/currency-rub-light.svg`
- [ ] Review `static/icons/svg/light/cursor-click-light.svg`
- [ ] Review `static/icons/svg/light/cursor-light.svg`
- [ ] Review `static/icons/svg/light/cursor-text-light.svg`
- [ ] Review `static/icons/svg/light/cylinder-light.svg`
- [ ] Review `static/icons/svg/light/database-light.svg`
- [ ] Review `static/icons/svg/light/desk-light.svg`
- [ ] Review `static/icons/svg/light/desktop-light.svg`
- [ ] Review `static/icons/svg/light/desktop-tower-light.svg`
- [ ] Review `static/icons/svg/light/detective-light.svg`
- [ ] Review `static/icons/svg/light/dev-to-logo-light.svg`
- [ ] Review `static/icons/svg/light/device-mobile-camera-light.svg`
- [ ] Review `static/icons/svg/light/device-mobile-light.svg`
- [ ] Review `static/icons/svg/light/device-mobile-slash-light.svg`
- [ ] Review `static/icons/svg/light/device-mobile-speaker-light.svg`
- [ ] Review `static/icons/svg/light/device-rotate-light.svg`
- [ ] Review `static/icons/svg/light/device-tablet-camera-light.svg`
- [ ] Review `static/icons/svg/light/device-tablet-light.svg`
- [ ] Review `static/icons/svg/light/device-tablet-speaker-light.svg`
- [ ] Review `static/icons/svg/light/devices-light.svg`
- [ ] Review `static/icons/svg/light/diamond-light.svg`
- [ ] Review `static/icons/svg/light/diamonds-four-light.svg`
- [ ] Review `static/icons/svg/light/dice-five-light.svg`
- [ ] Review `static/icons/svg/light/dice-four-light.svg`
- [ ] Review `static/icons/svg/light/dice-one-light.svg`
- [ ] Review `static/icons/svg/light/dice-six-light.svg`
- [ ] Review `static/icons/svg/light/dice-three-light.svg`
- [ ] Review `static/icons/svg/light/dice-two-light.svg`
- [ ] Review `static/icons/svg/light/disc-light.svg`
- [ ] Review `static/icons/svg/light/disco-ball-light.svg`
- [ ] Review `static/icons/svg/light/discord-logo-light.svg`
- [ ] Review `static/icons/svg/light/divide-light.svg`
- [ ] Review `static/icons/svg/light/dna-light.svg`
- [ ] Review `static/icons/svg/light/dog-light.svg`
- [ ] Review `static/icons/svg/light/door-light.svg`
- [ ] Review `static/icons/svg/light/door-open-light.svg`
- [ ] Review `static/icons/svg/light/dot-light.svg`
- [ ] Review `static/icons/svg/light/dot-outline-light.svg`
- [ ] Review `static/icons/svg/light/dots-nine-light.svg`
- [ ] Review `static/icons/svg/light/dots-six-light.svg`
- [ ] Review `static/icons/svg/light/dots-six-vertical-light.svg`
- [ ] Review `static/icons/svg/light/dots-three-circle-light.svg`
- [ ] Review `static/icons/svg/light/dots-three-circle-vertical-light.svg`
- [ ] Review `static/icons/svg/light/dots-three-light.svg`
- [ ] Review `static/icons/svg/light/dots-three-outline-light.svg`
- [ ] Review `static/icons/svg/light/dots-three-outline-vertical-light.svg`
- [ ] Review `static/icons/svg/light/dots-three-vertical-light.svg`
- [ ] Review `static/icons/svg/light/download-light.svg`
- [ ] Review `static/icons/svg/light/download-simple-light.svg`
- [ ] Review `static/icons/svg/light/dress-light.svg`
- [ ] Review `static/icons/svg/light/dresser-light.svg`
- [ ] Review `static/icons/svg/light/dribbble-logo-light.svg`
- [ ] Review `static/icons/svg/light/drone-light.svg`
- [ ] Review `static/icons/svg/light/drop-half-bottom-light.svg`
- [ ] Review `static/icons/svg/light/drop-half-light.svg`
- [ ] Review `static/icons/svg/light/drop-light.svg`
- [ ] Review `static/icons/svg/light/drop-simple-light.svg`
- [ ] Review `static/icons/svg/light/drop-slash-light.svg`
- [ ] Review `static/icons/svg/light/dropbox-logo-light.svg`
- [ ] Review `static/icons/svg/light/ear-light.svg`
- [ ] Review `static/icons/svg/light/ear-slash-light.svg`
- [ ] Review `static/icons/svg/light/egg-crack-light.svg`
- [ ] Review `static/icons/svg/light/egg-light.svg`
- [ ] Review `static/icons/svg/light/eject-light.svg`
- [ ] Review `static/icons/svg/light/eject-simple-light.svg`
- [ ] Review `static/icons/svg/light/elevator-light.svg`
- [ ] Review `static/icons/svg/light/empty-light.svg`
- [ ] Review `static/icons/svg/light/engine-light.svg`
- [ ] Review `static/icons/svg/light/envelope-light.svg`
- [ ] Review `static/icons/svg/light/envelope-open-light.svg`
- [ ] Review `static/icons/svg/light/envelope-simple-light.svg`
- [ ] Review `static/icons/svg/light/envelope-simple-open-light.svg`
- [ ] Review `static/icons/svg/light/equalizer-light.svg`
- [ ] Review `static/icons/svg/light/equals-light.svg`
- [ ] Review `static/icons/svg/light/eraser-light.svg`
- [ ] Review `static/icons/svg/light/escalator-down-light.svg`
- [ ] Review `static/icons/svg/light/escalator-up-light.svg`
- [ ] Review `static/icons/svg/light/exam-light.svg`
- [ ] Review `static/icons/svg/light/exclamation-mark-light.svg`
- [ ] Review `static/icons/svg/light/exclude-light.svg`
- [ ] Review `static/icons/svg/light/exclude-square-light.svg`
- [ ] Review `static/icons/svg/light/export-light.svg`
- [ ] Review `static/icons/svg/light/eye-closed-light.svg`
- [ ] Review `static/icons/svg/light/eye-light.svg`
- [ ] Review `static/icons/svg/light/eye-slash-light.svg`
- [ ] Review `static/icons/svg/light/eyedropper-light.svg`
- [ ] Review `static/icons/svg/light/eyedropper-sample-light.svg`
- [ ] Review `static/icons/svg/light/eyeglasses-light.svg`
- [ ] Review `static/icons/svg/light/eyes-light.svg`
- [ ] Review `static/icons/svg/light/face-mask-light.svg`
- [ ] Review `static/icons/svg/light/facebook-logo-light.svg`
- [ ] Review `static/icons/svg/light/factory-light.svg`
- [ ] Review `static/icons/svg/light/faders-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/faders-light.svg`
- [ ] Review `static/icons/svg/light/fallout-shelter-light.svg`
- [ ] Review `static/icons/svg/light/fan-light.svg`
- [ ] Review `static/icons/svg/light/farm-light.svg`
- [ ] Review `static/icons/svg/light/fast-forward-circle-light.svg`
- [ ] Review `static/icons/svg/light/fast-forward-light.svg`
- [ ] Review `static/icons/svg/light/feather-light.svg`
- [ ] Review `static/icons/svg/light/fediverse-logo-light.svg`
- [ ] Review `static/icons/svg/light/figma-logo-light.svg`
- [ ] Review `static/icons/svg/light/file-archive-light.svg`
- [ ] Review `static/icons/svg/light/file-arrow-down-light.svg`
- [ ] Review `static/icons/svg/light/file-arrow-up-light.svg`
- [ ] Review `static/icons/svg/light/file-audio-light.svg`
- [ ] Review `static/icons/svg/light/file-c-light.svg`
- [ ] Review `static/icons/svg/light/file-c-sharp-light.svg`
- [ ] Review `static/icons/svg/light/file-cloud-light.svg`
- [ ] Review `static/icons/svg/light/file-code-light.svg`
- [ ] Review `static/icons/svg/light/file-cpp-light.svg`
- [ ] Review `static/icons/svg/light/file-css-light.svg`
- [ ] Review `static/icons/svg/light/file-csv-light.svg`
- [ ] Review `static/icons/svg/light/file-dashed-light.svg`
- [ ] Review `static/icons/svg/light/file-doc-light.svg`
- [ ] Review `static/icons/svg/light/file-html-light.svg`
- [ ] Review `static/icons/svg/light/file-image-light.svg`
- [ ] Review `static/icons/svg/light/file-ini-light.svg`
- [ ] Review `static/icons/svg/light/file-jpg-light.svg`
- [ ] Review `static/icons/svg/light/file-js-light.svg`
- [ ] Review `static/icons/svg/light/file-jsx-light.svg`
- [ ] Review `static/icons/svg/light/file-light.svg`
- [ ] Review `static/icons/svg/light/file-lock-light.svg`
- [ ] Review `static/icons/svg/light/file-magnifying-glass-light.svg`
- [ ] Review `static/icons/svg/light/file-md-light.svg`
- [ ] Review `static/icons/svg/light/file-minus-light.svg`
- [ ] Review `static/icons/svg/light/file-pdf-light.svg`
- [ ] Review `static/icons/svg/light/file-plus-light.svg`
- [ ] Review `static/icons/svg/light/file-png-light.svg`
- [ ] Review `static/icons/svg/light/file-ppt-light.svg`
- [ ] Review `static/icons/svg/light/file-py-light.svg`
- [ ] Review `static/icons/svg/light/file-rs-light.svg`
- [ ] Review `static/icons/svg/light/file-sql-light.svg`
- [ ] Review `static/icons/svg/light/file-svg-light.svg`
- [ ] Review `static/icons/svg/light/file-text-light.svg`
- [ ] Review `static/icons/svg/light/file-ts-light.svg`
- [ ] Review `static/icons/svg/light/file-tsx-light.svg`
- [ ] Review `static/icons/svg/light/file-txt-light.svg`
- [ ] Review `static/icons/svg/light/file-video-light.svg`
- [ ] Review `static/icons/svg/light/file-vue-light.svg`
- [ ] Review `static/icons/svg/light/file-x-light.svg`
- [ ] Review `static/icons/svg/light/file-xls-light.svg`
- [ ] Review `static/icons/svg/light/file-zip-light.svg`
- [ ] Review `static/icons/svg/light/files-light.svg`
- [ ] Review `static/icons/svg/light/film-reel-light.svg`
- [ ] Review `static/icons/svg/light/film-script-light.svg`
- [ ] Review `static/icons/svg/light/film-slate-light.svg`
- [ ] Review `static/icons/svg/light/film-strip-light.svg`
- [ ] Review `static/icons/svg/light/fingerprint-light.svg`
- [ ] Review `static/icons/svg/light/fingerprint-simple-light.svg`
- [ ] Review `static/icons/svg/light/finn-the-human-light.svg`
- [ ] Review `static/icons/svg/light/fire-extinguisher-light.svg`
- [ ] Review `static/icons/svg/light/fire-light.svg`
- [ ] Review `static/icons/svg/light/fire-simple-light.svg`
- [ ] Review `static/icons/svg/light/fire-truck-light.svg`
- [ ] Review `static/icons/svg/light/first-aid-kit-light.svg`
- [ ] Review `static/icons/svg/light/first-aid-light.svg`
- [ ] Review `static/icons/svg/light/fish-light.svg`
- [ ] Review `static/icons/svg/light/fish-simple-light.svg`
- [ ] Review `static/icons/svg/light/flag-banner-fold-light.svg`
- [ ] Review `static/icons/svg/light/flag-banner-light.svg`
- [ ] Review `static/icons/svg/light/flag-checkered-light.svg`
- [ ] Review `static/icons/svg/light/flag-light.svg`
- [ ] Review `static/icons/svg/light/flag-pennant-light.svg`
- [ ] Review `static/icons/svg/light/flame-light.svg`
- [ ] Review `static/icons/svg/light/flashlight-light.svg`
- [ ] Review `static/icons/svg/light/flask-light.svg`
- [ ] Review `static/icons/svg/light/flip-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/flip-vertical-light.svg`
- [ ] Review `static/icons/svg/light/floppy-disk-back-light.svg`
- [ ] Review `static/icons/svg/light/floppy-disk-light.svg`
- [ ] Review `static/icons/svg/light/flow-arrow-light.svg`
- [ ] Review `static/icons/svg/light/flower-light.svg`
- [ ] Review `static/icons/svg/light/flower-lotus-light.svg`
- [ ] Review `static/icons/svg/light/flower-tulip-light.svg`
- [ ] Review `static/icons/svg/light/flying-saucer-light.svg`
- [ ] Review `static/icons/svg/light/folder-dashed-light.svg`
- [ ] Review `static/icons/svg/light/folder-light.svg`
- [ ] Review `static/icons/svg/light/folder-lock-light.svg`
- [ ] Review `static/icons/svg/light/folder-minus-light.svg`
- [ ] Review `static/icons/svg/light/folder-open-light.svg`
- [ ] Review `static/icons/svg/light/folder-plus-light.svg`
- [ ] Review `static/icons/svg/light/folder-simple-dashed-light.svg`
- [ ] Review `static/icons/svg/light/folder-simple-light.svg`
- [ ] Review `static/icons/svg/light/folder-simple-lock-light.svg`
- [ ] Review `static/icons/svg/light/folder-simple-minus-light.svg`
- [ ] Review `static/icons/svg/light/folder-simple-plus-light.svg`
- [ ] Review `static/icons/svg/light/folder-simple-star-light.svg`
- [ ] Review `static/icons/svg/light/folder-simple-user-light.svg`
- [ ] Review `static/icons/svg/light/folder-star-light.svg`
- [ ] Review `static/icons/svg/light/folder-user-light.svg`
- [ ] Review `static/icons/svg/light/folders-light.svg`
- [ ] Review `static/icons/svg/light/football-helmet-light.svg`
- [ ] Review `static/icons/svg/light/football-light.svg`
- [ ] Review `static/icons/svg/light/footprints-light.svg`
- [ ] Review `static/icons/svg/light/fork-knife-light.svg`
- [ ] Review `static/icons/svg/light/four-k-light.svg`
- [ ] Review `static/icons/svg/light/frame-corners-light.svg`
- [ ] Review `static/icons/svg/light/framer-logo-light.svg`
- [ ] Review `static/icons/svg/light/function-light.svg`
- [ ] Review `static/icons/svg/light/funnel-light.svg`
- [ ] Review `static/icons/svg/light/funnel-simple-light.svg`
- [ ] Review `static/icons/svg/light/funnel-simple-x-light.svg`
- [ ] Review `static/icons/svg/light/funnel-x-light.svg`
- [ ] Review `static/icons/svg/light/game-controller-light.svg`
- [ ] Review `static/icons/svg/light/garage-light.svg`
- [ ] Review `static/icons/svg/light/gas-can-light.svg`
- [ ] Review `static/icons/svg/light/gas-pump-light.svg`
- [ ] Review `static/icons/svg/light/gauge-light.svg`
- [ ] Review `static/icons/svg/light/gavel-light.svg`
- [ ] Review `static/icons/svg/light/gear-fine-light.svg`
- [ ] Review `static/icons/svg/light/gear-light.svg`
- [ ] Review `static/icons/svg/light/gear-six-light.svg`
- [ ] Review `static/icons/svg/light/gender-female-light.svg`
- [ ] Review `static/icons/svg/light/gender-intersex-light.svg`
- [ ] Review `static/icons/svg/light/gender-male-light.svg`
- [ ] Review `static/icons/svg/light/gender-neuter-light.svg`
- [ ] Review `static/icons/svg/light/gender-nonbinary-light.svg`
- [ ] Review `static/icons/svg/light/gender-transgender-light.svg`
- [ ] Review `static/icons/svg/light/ghost-light.svg`
- [ ] Review `static/icons/svg/light/gif-light.svg`
- [ ] Review `static/icons/svg/light/gift-light.svg`
- [ ] Review `static/icons/svg/light/git-branch-light.svg`
- [ ] Review `static/icons/svg/light/git-commit-light.svg`
- [ ] Review `static/icons/svg/light/git-diff-light.svg`
- [ ] Review `static/icons/svg/light/git-fork-light.svg`
- [ ] Review `static/icons/svg/light/git-merge-light.svg`
- [ ] Review `static/icons/svg/light/git-pull-request-light.svg`
- [ ] Review `static/icons/svg/light/github-logo-light.svg`
- [ ] Review `static/icons/svg/light/gitlab-logo-light.svg`
- [ ] Review `static/icons/svg/light/gitlab-logo-simple-light.svg`
- [ ] Review `static/icons/svg/light/globe-hemisphere-east-light.svg`
- [ ] Review `static/icons/svg/light/globe-hemisphere-west-light.svg`
- [ ] Review `static/icons/svg/light/globe-light.svg`
- [ ] Review `static/icons/svg/light/globe-simple-light.svg`
- [ ] Review `static/icons/svg/light/globe-simple-x-light.svg`
- [ ] Review `static/icons/svg/light/globe-stand-light.svg`
- [ ] Review `static/icons/svg/light/globe-x-light.svg`
- [ ] Review `static/icons/svg/light/goggles-light.svg`
- [ ] Review `static/icons/svg/light/golf-light.svg`
- [ ] Review `static/icons/svg/light/goodreads-logo-light.svg`
- [ ] Review `static/icons/svg/light/google-cardboard-logo-light.svg`
- [ ] Review `static/icons/svg/light/google-chrome-logo-light.svg`
- [ ] Review `static/icons/svg/light/google-drive-logo-light.svg`
- [ ] Review `static/icons/svg/light/google-logo-light.svg`
- [ ] Review `static/icons/svg/light/google-photos-logo-light.svg`
- [ ] Review `static/icons/svg/light/google-play-logo-light.svg`
- [ ] Review `static/icons/svg/light/google-podcasts-logo-light.svg`
- [ ] Review `static/icons/svg/light/gps-fix-light.svg`
- [ ] Review `static/icons/svg/light/gps-light.svg`
- [ ] Review `static/icons/svg/light/gps-slash-light.svg`
- [ ] Review `static/icons/svg/light/gradient-light.svg`
- [ ] Review `static/icons/svg/light/graduation-cap-light.svg`
- [ ] Review `static/icons/svg/light/grains-light.svg`
- [ ] Review `static/icons/svg/light/grains-slash-light.svg`
- [ ] Review `static/icons/svg/light/graph-light.svg`
- [ ] Review `static/icons/svg/light/graphics-card-light.svg`
- [ ] Review `static/icons/svg/light/greater-than-light.svg`
- [ ] Review `static/icons/svg/light/greater-than-or-equal-light.svg`
- [ ] Review `static/icons/svg/light/grid-four-light.svg`
- [ ] Review `static/icons/svg/light/grid-nine-light.svg`
- [ ] Review `static/icons/svg/light/guitar-light.svg`
- [ ] Review `static/icons/svg/light/hair-dryer-light.svg`
- [ ] Review `static/icons/svg/light/hamburger-light.svg`
- [ ] Review `static/icons/svg/light/hammer-light.svg`
- [ ] Review `static/icons/svg/light/hand-arrow-down-light.svg`
- [ ] Review `static/icons/svg/light/hand-arrow-up-light.svg`
- [ ] Review `static/icons/svg/light/hand-coins-light.svg`
- [ ] Review `static/icons/svg/light/hand-deposit-light.svg`
- [ ] Review `static/icons/svg/light/hand-eye-light.svg`
- [ ] Review `static/icons/svg/light/hand-fist-light.svg`
- [ ] Review `static/icons/svg/light/hand-grabbing-light.svg`
- [ ] Review `static/icons/svg/light/hand-heart-light.svg`
- [ ] Review `static/icons/svg/light/hand-light.svg`
- [ ] Review `static/icons/svg/light/hand-palm-light.svg`
- [ ] Review `static/icons/svg/light/hand-peace-light.svg`
- [ ] Review `static/icons/svg/light/hand-pointing-light.svg`
- [ ] Review `static/icons/svg/light/hand-soap-light.svg`
- [ ] Review `static/icons/svg/light/hand-swipe-left-light.svg`
- [ ] Review `static/icons/svg/light/hand-swipe-right-light.svg`
- [ ] Review `static/icons/svg/light/hand-tap-light.svg`
- [ ] Review `static/icons/svg/light/hand-waving-light.svg`
- [ ] Review `static/icons/svg/light/hand-withdraw-light.svg`
- [ ] Review `static/icons/svg/light/handbag-light.svg`
- [ ] Review `static/icons/svg/light/handbag-simple-light.svg`
- [ ] Review `static/icons/svg/light/hands-clapping-light.svg`
- [ ] Review `static/icons/svg/light/hands-praying-light.svg`
- [ ] Review `static/icons/svg/light/handshake-light.svg`
- [ ] Review `static/icons/svg/light/hard-drive-light.svg`
- [ ] Review `static/icons/svg/light/hard-drives-light.svg`
- [ ] Review `static/icons/svg/light/hard-hat-light.svg`
- [ ] Review `static/icons/svg/light/hash-light.svg`
- [ ] Review `static/icons/svg/light/hash-straight-light.svg`
- [ ] Review `static/icons/svg/light/head-circuit-light.svg`
- [ ] Review `static/icons/svg/light/headlights-light.svg`
- [ ] Review `static/icons/svg/light/headphones-light.svg`
- [ ] Review `static/icons/svg/light/headset-light.svg`
- [ ] Review `static/icons/svg/light/heart-break-light.svg`
- [ ] Review `static/icons/svg/light/heart-half-light.svg`
- [ ] Review `static/icons/svg/light/heart-light.svg`
- [ ] Review `static/icons/svg/light/heart-straight-break-light.svg`
- [ ] Review `static/icons/svg/light/heart-straight-light.svg`
- [ ] Review `static/icons/svg/light/heartbeat-light.svg`
- [ ] Review `static/icons/svg/light/hexagon-light.svg`
- [ ] Review `static/icons/svg/light/high-definition-light.svg`
- [ ] Review `static/icons/svg/light/high-heel-light.svg`
- [ ] Review `static/icons/svg/light/highlighter-circle-light.svg`
- [ ] Review `static/icons/svg/light/highlighter-light.svg`
- [ ] Review `static/icons/svg/light/hockey-light.svg`
- [ ] Review `static/icons/svg/light/hoodie-light.svg`
- [ ] Review `static/icons/svg/light/horse-light.svg`
- [ ] Review `static/icons/svg/light/hospital-light.svg`
- [ ] Review `static/icons/svg/light/hourglass-high-light.svg`
- [ ] Review `static/icons/svg/light/hourglass-light.svg`
- [ ] Review `static/icons/svg/light/hourglass-low-light.svg`
- [ ] Review `static/icons/svg/light/hourglass-medium-light.svg`
- [ ] Review `static/icons/svg/light/hourglass-simple-high-light.svg`
- [ ] Review `static/icons/svg/light/hourglass-simple-light.svg`
- [ ] Review `static/icons/svg/light/hourglass-simple-low-light.svg`
- [ ] Review `static/icons/svg/light/hourglass-simple-medium-light.svg`
- [ ] Review `static/icons/svg/light/house-light.svg`
- [ ] Review `static/icons/svg/light/house-line-light.svg`
- [ ] Review `static/icons/svg/light/house-simple-light.svg`
- [ ] Review `static/icons/svg/light/hurricane-light.svg`
- [ ] Review `static/icons/svg/light/ice-cream-light.svg`
- [ ] Review `static/icons/svg/light/identification-badge-light.svg`
- [ ] Review `static/icons/svg/light/identification-card-light.svg`
- [ ] Review `static/icons/svg/light/image-broken-light.svg`
- [ ] Review `static/icons/svg/light/image-light.svg`
- [ ] Review `static/icons/svg/light/image-square-light.svg`
- [ ] Review `static/icons/svg/light/images-light.svg`
- [ ] Review `static/icons/svg/light/images-square-light.svg`
- [ ] Review `static/icons/svg/light/infinity-light.svg`
- [ ] Review `static/icons/svg/light/info-light.svg`
- [ ] Review `static/icons/svg/light/instagram-logo-light.svg`
- [ ] Review `static/icons/svg/light/intersect-light.svg`
- [ ] Review `static/icons/svg/light/intersect-square-light.svg`
- [ ] Review `static/icons/svg/light/intersect-three-light.svg`
- [ ] Review `static/icons/svg/light/intersection-light.svg`
- [ ] Review `static/icons/svg/light/invoice-light.svg`
- [ ] Review `static/icons/svg/light/island-light.svg`
- [ ] Review `static/icons/svg/light/jar-label-light.svg`
- [ ] Review `static/icons/svg/light/jar-light.svg`
- [ ] Review `static/icons/svg/light/jeep-light.svg`
- [ ] Review `static/icons/svg/light/joystick-light.svg`
- [ ] Review `static/icons/svg/light/kanban-light.svg`
- [ ] Review `static/icons/svg/light/key-light.svg`
- [ ] Review `static/icons/svg/light/key-return-light.svg`
- [ ] Review `static/icons/svg/light/keyboard-light.svg`
- [ ] Review `static/icons/svg/light/keyhole-light.svg`
- [ ] Review `static/icons/svg/light/knife-light.svg`
- [ ] Review `static/icons/svg/light/ladder-light.svg`
- [ ] Review `static/icons/svg/light/ladder-simple-light.svg`
- [ ] Review `static/icons/svg/light/lamp-light.svg`
- [ ] Review `static/icons/svg/light/lamp-pendant-light.svg`
- [ ] Review `static/icons/svg/light/laptop-light.svg`
- [ ] Review `static/icons/svg/light/lasso-light.svg`
- [ ] Review `static/icons/svg/light/lastfm-logo-light.svg`
- [ ] Review `static/icons/svg/light/layout-light.svg`
- [ ] Review `static/icons/svg/light/leaf-light.svg`
- [ ] Review `static/icons/svg/light/lectern-light.svg`
- [ ] Review `static/icons/svg/light/lego-light.svg`
- [ ] Review `static/icons/svg/light/lego-smiley-light.svg`
- [ ] Review `static/icons/svg/light/less-than-light.svg`
- [ ] Review `static/icons/svg/light/less-than-or-equal-light.svg`
- [ ] Review `static/icons/svg/light/letter-circle-h-light.svg`
- [ ] Review `static/icons/svg/light/letter-circle-p-light.svg`
- [ ] Review `static/icons/svg/light/letter-circle-v-light.svg`
- [ ] Review `static/icons/svg/light/lifebuoy-light.svg`
- [ ] Review `static/icons/svg/light/lightbulb-filament-light.svg`
- [ ] Review `static/icons/svg/light/lightbulb-light.svg`
- [ ] Review `static/icons/svg/light/lighthouse-light.svg`
- [ ] Review `static/icons/svg/light/lightning-a-light.svg`
- [ ] Review `static/icons/svg/light/lightning-light.svg`
- [ ] Review `static/icons/svg/light/lightning-slash-light.svg`
- [ ] Review `static/icons/svg/light/line-segment-light.svg`
- [ ] Review `static/icons/svg/light/line-segments-light.svg`
- [ ] Review `static/icons/svg/light/line-vertical-light.svg`
- [ ] Review `static/icons/svg/light/link-break-light.svg`
- [ ] Review `static/icons/svg/light/link-light.svg`
- [ ] Review `static/icons/svg/light/link-simple-break-light.svg`
- [ ] Review `static/icons/svg/light/link-simple-horizontal-break-light.svg`
- [ ] Review `static/icons/svg/light/link-simple-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/link-simple-light.svg`
- [ ] Review `static/icons/svg/light/linkedin-logo-light.svg`
- [ ] Review `static/icons/svg/light/linktree-logo-light.svg`
- [ ] Review `static/icons/svg/light/linux-logo-light.svg`
- [ ] Review `static/icons/svg/light/list-bullets-light.svg`
- [ ] Review `static/icons/svg/light/list-checks-light.svg`
- [ ] Review `static/icons/svg/light/list-dashes-light.svg`
- [ ] Review `static/icons/svg/light/list-heart-light.svg`
- [ ] Review `static/icons/svg/light/list-light.svg`
- [ ] Review `static/icons/svg/light/list-magnifying-glass-light.svg`
- [ ] Review `static/icons/svg/light/list-numbers-light.svg`
- [ ] Review `static/icons/svg/light/list-plus-light.svg`
- [ ] Review `static/icons/svg/light/list-star-light.svg`
- [ ] Review `static/icons/svg/light/lock-key-light.svg`
- [ ] Review `static/icons/svg/light/lock-key-open-light.svg`
- [ ] Review `static/icons/svg/light/lock-laminated-light.svg`
- [ ] Review `static/icons/svg/light/lock-laminated-open-light.svg`
- [ ] Review `static/icons/svg/light/lock-light.svg`
- [ ] Review `static/icons/svg/light/lock-open-light.svg`
- [ ] Review `static/icons/svg/light/lock-simple-light.svg`
- [ ] Review `static/icons/svg/light/lock-simple-open-light.svg`
- [ ] Review `static/icons/svg/light/lockers-light.svg`
- [ ] Review `static/icons/svg/light/log-light.svg`
- [ ] Review `static/icons/svg/light/magic-wand-light.svg`
- [ ] Review `static/icons/svg/light/magnet-light.svg`
- [ ] Review `static/icons/svg/light/magnet-straight-light.svg`
- [ ] Review `static/icons/svg/light/magnifying-glass-light.svg`
- [ ] Review `static/icons/svg/light/magnifying-glass-minus-light.svg`
- [ ] Review `static/icons/svg/light/magnifying-glass-plus-light.svg`
- [ ] Review `static/icons/svg/light/mailbox-light.svg`
- [ ] Review `static/icons/svg/light/map-pin-area-light.svg`
- [ ] Review `static/icons/svg/light/map-pin-light.svg`
- [ ] Review `static/icons/svg/light/map-pin-line-light.svg`
- [ ] Review `static/icons/svg/light/map-pin-plus-light.svg`
- [ ] Review `static/icons/svg/light/map-pin-simple-area-light.svg`
- [ ] Review `static/icons/svg/light/map-pin-simple-light.svg`
- [ ] Review `static/icons/svg/light/map-pin-simple-line-light.svg`
- [ ] Review `static/icons/svg/light/map-trifold-light.svg`
- [ ] Review `static/icons/svg/light/markdown-logo-light.svg`
- [ ] Review `static/icons/svg/light/marker-circle-light.svg`
- [ ] Review `static/icons/svg/light/martini-light.svg`
- [ ] Review `static/icons/svg/light/mask-happy-light.svg`
- [ ] Review `static/icons/svg/light/mask-sad-light.svg`
- [ ] Review `static/icons/svg/light/mastodon-logo-light.svg`
- [ ] Review `static/icons/svg/light/math-operations-light.svg`
- [ ] Review `static/icons/svg/light/matrix-logo-light.svg`
- [ ] Review `static/icons/svg/light/medal-light.svg`
- [ ] Review `static/icons/svg/light/medal-military-light.svg`
- [ ] Review `static/icons/svg/light/medium-logo-light.svg`
- [ ] Review `static/icons/svg/light/megaphone-light.svg`
- [ ] Review `static/icons/svg/light/megaphone-simple-light.svg`
- [ ] Review `static/icons/svg/light/member-of-light.svg`
- [ ] Review `static/icons/svg/light/memory-light.svg`
- [ ] Review `static/icons/svg/light/messenger-logo-light.svg`
- [ ] Review `static/icons/svg/light/meta-logo-light.svg`
- [ ] Review `static/icons/svg/light/meteor-light.svg`
- [ ] Review `static/icons/svg/light/metronome-light.svg`
- [ ] Review `static/icons/svg/light/microphone-light.svg`
- [ ] Review `static/icons/svg/light/microphone-slash-light.svg`
- [ ] Review `static/icons/svg/light/microphone-stage-light.svg`
- [ ] Review `static/icons/svg/light/microscope-light.svg`
- [ ] Review `static/icons/svg/light/microsoft-excel-logo-light.svg`
- [ ] Review `static/icons/svg/light/microsoft-outlook-logo-light.svg`
- [ ] Review `static/icons/svg/light/microsoft-powerpoint-logo-light.svg`
- [ ] Review `static/icons/svg/light/microsoft-teams-logo-light.svg`
- [ ] Review `static/icons/svg/light/microsoft-word-logo-light.svg`
- [ ] Review `static/icons/svg/light/minus-circle-light.svg`
- [ ] Review `static/icons/svg/light/minus-light.svg`
- [ ] Review `static/icons/svg/light/minus-square-light.svg`
- [ ] Review `static/icons/svg/light/money-light.svg`
- [ ] Review `static/icons/svg/light/money-wavy-light.svg`
- [ ] Review `static/icons/svg/light/monitor-arrow-up-light.svg`
- [ ] Review `static/icons/svg/light/monitor-light.svg`
- [ ] Review `static/icons/svg/light/monitor-play-light.svg`
- [ ] Review `static/icons/svg/light/moon-light.svg`
- [ ] Review `static/icons/svg/light/moon-stars-light.svg`
- [ ] Review `static/icons/svg/light/moped-front-light.svg`
- [ ] Review `static/icons/svg/light/moped-light.svg`
- [ ] Review `static/icons/svg/light/mosque-light.svg`
- [ ] Review `static/icons/svg/light/motorcycle-light.svg`
- [ ] Review `static/icons/svg/light/mountains-light.svg`
- [ ] Review `static/icons/svg/light/mouse-left-click-light.svg`
- [ ] Review `static/icons/svg/light/mouse-light.svg`
- [ ] Review `static/icons/svg/light/mouse-middle-click-light.svg`
- [ ] Review `static/icons/svg/light/mouse-right-click-light.svg`
- [ ] Review `static/icons/svg/light/mouse-scroll-light.svg`
- [ ] Review `static/icons/svg/light/mouse-simple-light.svg`
- [ ] Review `static/icons/svg/light/music-note-light.svg`
- [ ] Review `static/icons/svg/light/music-note-simple-light.svg`
- [ ] Review `static/icons/svg/light/music-notes-light.svg`
- [ ] Review `static/icons/svg/light/music-notes-minus-light.svg`
- [ ] Review `static/icons/svg/light/music-notes-plus-light.svg`
- [ ] Review `static/icons/svg/light/music-notes-simple-light.svg`
- [ ] Review `static/icons/svg/light/navigation-arrow-light.svg`
- [ ] Review `static/icons/svg/light/needle-light.svg`
- [ ] Review `static/icons/svg/light/network-light.svg`
- [ ] Review `static/icons/svg/light/network-slash-light.svg`
- [ ] Review `static/icons/svg/light/network-x-light.svg`
- [ ] Review `static/icons/svg/light/newspaper-clipping-light.svg`
- [ ] Review `static/icons/svg/light/newspaper-light.svg`
- [ ] Review `static/icons/svg/light/not-equals-light.svg`
- [ ] Review `static/icons/svg/light/not-member-of-light.svg`
- [ ] Review `static/icons/svg/light/not-subset-of-light.svg`
- [ ] Review `static/icons/svg/light/not-superset-of-light.svg`
- [ ] Review `static/icons/svg/light/notches-light.svg`
- [ ] Review `static/icons/svg/light/note-blank-light.svg`
- [ ] Review `static/icons/svg/light/note-light.svg`
- [ ] Review `static/icons/svg/light/note-pencil-light.svg`
- [ ] Review `static/icons/svg/light/notebook-light.svg`
- [ ] Review `static/icons/svg/light/notepad-light.svg`
- [ ] Review `static/icons/svg/light/notification-light.svg`
- [ ] Review `static/icons/svg/light/notion-logo-light.svg`
- [ ] Review `static/icons/svg/light/nuclear-plant-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-eight-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-five-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-four-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-nine-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-one-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-seven-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-six-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-three-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-two-light.svg`
- [ ] Review `static/icons/svg/light/number-circle-zero-light.svg`
- [ ] Review `static/icons/svg/light/number-eight-light.svg`
- [ ] Review `static/icons/svg/light/number-five-light.svg`
- [ ] Review `static/icons/svg/light/number-four-light.svg`
- [ ] Review `static/icons/svg/light/number-nine-light.svg`
- [ ] Review `static/icons/svg/light/number-one-light.svg`
- [ ] Review `static/icons/svg/light/number-seven-light.svg`
- [ ] Review `static/icons/svg/light/number-six-light.svg`
- [ ] Review `static/icons/svg/light/number-square-eight-light.svg`
- [ ] Review `static/icons/svg/light/number-square-five-light.svg`
- [ ] Review `static/icons/svg/light/number-square-four-light.svg`
- [ ] Review `static/icons/svg/light/number-square-nine-light.svg`
- [ ] Review `static/icons/svg/light/number-square-one-light.svg`
- [ ] Review `static/icons/svg/light/number-square-seven-light.svg`
- [ ] Review `static/icons/svg/light/number-square-six-light.svg`
- [ ] Review `static/icons/svg/light/number-square-three-light.svg`
- [ ] Review `static/icons/svg/light/number-square-two-light.svg`
- [ ] Review `static/icons/svg/light/number-square-zero-light.svg`
- [ ] Review `static/icons/svg/light/number-three-light.svg`
- [ ] Review `static/icons/svg/light/number-two-light.svg`
- [ ] Review `static/icons/svg/light/number-zero-light.svg`
- [ ] Review `static/icons/svg/light/numpad-light.svg`
- [ ] Review `static/icons/svg/light/nut-light.svg`
- [ ] Review `static/icons/svg/light/ny-times-logo-light.svg`
- [ ] Review `static/icons/svg/light/octagon-light.svg`
- [ ] Review `static/icons/svg/light/office-chair-light.svg`
- [ ] Review `static/icons/svg/light/onigiri-light.svg`
- [ ] Review `static/icons/svg/light/open-ai-logo-light.svg`
- [ ] Review `static/icons/svg/light/option-light.svg`
- [ ] Review `static/icons/svg/light/orange-light.svg`
- [ ] Review `static/icons/svg/light/orange-slice-light.svg`
- [ ] Review `static/icons/svg/light/oven-light.svg`
- [ ] Review `static/icons/svg/light/package-light.svg`
- [ ] Review `static/icons/svg/light/paint-brush-broad-light.svg`
- [ ] Review `static/icons/svg/light/paint-brush-household-light.svg`
- [ ] Review `static/icons/svg/light/paint-brush-light.svg`
- [ ] Review `static/icons/svg/light/paint-bucket-light.svg`
- [ ] Review `static/icons/svg/light/paint-roller-light.svg`
- [ ] Review `static/icons/svg/light/palette-light.svg`
- [ ] Review `static/icons/svg/light/panorama-light.svg`
- [ ] Review `static/icons/svg/light/pants-light.svg`
- [ ] Review `static/icons/svg/light/paper-plane-light.svg`
- [ ] Review `static/icons/svg/light/paper-plane-right-light.svg`
- [ ] Review `static/icons/svg/light/paper-plane-tilt-light.svg`
- [ ] Review `static/icons/svg/light/paperclip-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/paperclip-light.svg`
- [ ] Review `static/icons/svg/light/parachute-light.svg`
- [ ] Review `static/icons/svg/light/paragraph-light.svg`
- [ ] Review `static/icons/svg/light/parallelogram-light.svg`
- [ ] Review `static/icons/svg/light/park-light.svg`
- [ ] Review `static/icons/svg/light/password-light.svg`
- [ ] Review `static/icons/svg/light/path-light.svg`
- [ ] Review `static/icons/svg/light/patreon-logo-light.svg`
- [ ] Review `static/icons/svg/light/pause-circle-light.svg`
- [ ] Review `static/icons/svg/light/pause-light.svg`
- [ ] Review `static/icons/svg/light/paw-print-light.svg`
- [ ] Review `static/icons/svg/light/paypal-logo-light.svg`
- [ ] Review `static/icons/svg/light/peace-light.svg`
- [ ] Review `static/icons/svg/light/pen-light.svg`
- [ ] Review `static/icons/svg/light/pen-nib-light.svg`
- [ ] Review `static/icons/svg/light/pen-nib-straight-light.svg`
- [ ] Review `static/icons/svg/light/pencil-circle-light.svg`
- [ ] Review `static/icons/svg/light/pencil-light.svg`
- [ ] Review `static/icons/svg/light/pencil-line-light.svg`
- [ ] Review `static/icons/svg/light/pencil-ruler-light.svg`
- [ ] Review `static/icons/svg/light/pencil-simple-light.svg`
- [ ] Review `static/icons/svg/light/pencil-simple-line-light.svg`
- [ ] Review `static/icons/svg/light/pencil-simple-slash-light.svg`
- [ ] Review `static/icons/svg/light/pencil-slash-light.svg`
- [ ] Review `static/icons/svg/light/pentagon-light.svg`
- [ ] Review `static/icons/svg/light/pentagram-light.svg`
- [ ] Review `static/icons/svg/light/pepper-light.svg`
- [ ] Review `static/icons/svg/light/percent-light.svg`
- [ ] Review `static/icons/svg/light/person-arms-spread-light.svg`
- [ ] Review `static/icons/svg/light/person-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-bike-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-circle-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-hike-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-run-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-ski-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-snowboard-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-swim-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-tai-chi-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-throw-light.svg`
- [ ] Review `static/icons/svg/light/person-simple-walk-light.svg`
- [ ] Review `static/icons/svg/light/perspective-light.svg`
- [ ] Review `static/icons/svg/light/phone-call-light.svg`
- [ ] Review `static/icons/svg/light/phone-disconnect-light.svg`
- [ ] Review `static/icons/svg/light/phone-incoming-light.svg`
- [ ] Review `static/icons/svg/light/phone-light.svg`
- [ ] Review `static/icons/svg/light/phone-list-light.svg`
- [ ] Review `static/icons/svg/light/phone-outgoing-light.svg`
- [ ] Review `static/icons/svg/light/phone-pause-light.svg`
- [ ] Review `static/icons/svg/light/phone-plus-light.svg`
- [ ] Review `static/icons/svg/light/phone-slash-light.svg`
- [ ] Review `static/icons/svg/light/phone-transfer-light.svg`
- [ ] Review `static/icons/svg/light/phone-x-light.svg`
- [ ] Review `static/icons/svg/light/phosphor-logo-light.svg`
- [ ] Review `static/icons/svg/light/pi-light.svg`
- [ ] Review `static/icons/svg/light/piano-keys-light.svg`
- [ ] Review `static/icons/svg/light/picnic-table-light.svg`
- [ ] Review `static/icons/svg/light/picture-in-picture-light.svg`
- [ ] Review `static/icons/svg/light/piggy-bank-light.svg`
- [ ] Review `static/icons/svg/light/pill-light.svg`
- [ ] Review `static/icons/svg/light/ping-pong-light.svg`
- [ ] Review `static/icons/svg/light/pint-glass-light.svg`
- [ ] Review `static/icons/svg/light/pinterest-logo-light.svg`
- [ ] Review `static/icons/svg/light/pinwheel-light.svg`
- [ ] Review `static/icons/svg/light/pipe-light.svg`
- [ ] Review `static/icons/svg/light/pipe-wrench-light.svg`
- [ ] Review `static/icons/svg/light/pix-logo-light.svg`
- [ ] Review `static/icons/svg/light/pizza-light.svg`
- [ ] Review `static/icons/svg/light/placeholder-light.svg`
- [ ] Review `static/icons/svg/light/planet-light.svg`
- [ ] Review `static/icons/svg/light/plant-light.svg`
- [ ] Review `static/icons/svg/light/play-circle-light.svg`
- [ ] Review `static/icons/svg/light/play-light.svg`
- [ ] Review `static/icons/svg/light/play-pause-light.svg`
- [ ] Review `static/icons/svg/light/playlist-light.svg`
- [ ] Review `static/icons/svg/light/plug-charging-light.svg`
- [ ] Review `static/icons/svg/light/plug-light.svg`
- [ ] Review `static/icons/svg/light/plugs-connected-light.svg`
- [ ] Review `static/icons/svg/light/plugs-light.svg`
- [ ] Review `static/icons/svg/light/plus-circle-light.svg`
- [ ] Review `static/icons/svg/light/plus-light.svg`
- [ ] Review `static/icons/svg/light/plus-minus-light.svg`
- [ ] Review `static/icons/svg/light/plus-square-light.svg`
- [ ] Review `static/icons/svg/light/poker-chip-light.svg`
- [ ] Review `static/icons/svg/light/police-car-light.svg`
- [ ] Review `static/icons/svg/light/polygon-light.svg`
- [ ] Review `static/icons/svg/light/popcorn-light.svg`
- [ ] Review `static/icons/svg/light/popsicle-light.svg`
- [ ] Review `static/icons/svg/light/potted-plant-light.svg`
- [ ] Review `static/icons/svg/light/power-light.svg`
- [ ] Review `static/icons/svg/light/prescription-light.svg`
- [ ] Review `static/icons/svg/light/presentation-chart-light.svg`
- [ ] Review `static/icons/svg/light/presentation-light.svg`
- [ ] Review `static/icons/svg/light/printer-light.svg`
- [ ] Review `static/icons/svg/light/prohibit-inset-light.svg`
- [ ] Review `static/icons/svg/light/prohibit-light.svg`
- [ ] Review `static/icons/svg/light/projector-screen-chart-light.svg`
- [ ] Review `static/icons/svg/light/projector-screen-light.svg`
- [ ] Review `static/icons/svg/light/pulse-light.svg`
- [ ] Review `static/icons/svg/light/push-pin-light.svg`
- [ ] Review `static/icons/svg/light/push-pin-simple-light.svg`
- [ ] Review `static/icons/svg/light/push-pin-simple-slash-light.svg`
- [ ] Review `static/icons/svg/light/push-pin-slash-light.svg`
- [ ] Review `static/icons/svg/light/puzzle-piece-light.svg`
- [ ] Review `static/icons/svg/light/qr-code-light.svg`
- [ ] Review `static/icons/svg/light/question-light.svg`
- [ ] Review `static/icons/svg/light/question-mark-light.svg`
- [ ] Review `static/icons/svg/light/queue-light.svg`
- [ ] Review `static/icons/svg/light/quotes-light.svg`
- [ ] Review `static/icons/svg/light/rabbit-light.svg`
- [ ] Review `static/icons/svg/light/racquet-light.svg`
- [ ] Review `static/icons/svg/light/radical-light.svg`
- [ ] Review `static/icons/svg/light/radio-button-light.svg`
- [ ] Review `static/icons/svg/light/radio-light.svg`
- [ ] Review `static/icons/svg/light/radioactive-light.svg`
- [ ] Review `static/icons/svg/light/rainbow-cloud-light.svg`
- [ ] Review `static/icons/svg/light/rainbow-light.svg`
- [ ] Review `static/icons/svg/light/ranking-light.svg`
- [ ] Review `static/icons/svg/light/read-cv-logo-light.svg`
- [ ] Review `static/icons/svg/light/receipt-light.svg`
- [ ] Review `static/icons/svg/light/receipt-x-light.svg`
- [ ] Review `static/icons/svg/light/record-light.svg`
- [ ] Review `static/icons/svg/light/rectangle-dashed-light.svg`
- [ ] Review `static/icons/svg/light/rectangle-light.svg`
- [ ] Review `static/icons/svg/light/recycle-light.svg`
- [ ] Review `static/icons/svg/light/reddit-logo-light.svg`
- [ ] Review `static/icons/svg/light/repeat-light.svg`
- [ ] Review `static/icons/svg/light/repeat-once-light.svg`
- [ ] Review `static/icons/svg/light/replit-logo-light.svg`
- [ ] Review `static/icons/svg/light/resize-light.svg`
- [ ] Review `static/icons/svg/light/rewind-circle-light.svg`
- [ ] Review `static/icons/svg/light/rewind-light.svg`
- [ ] Review `static/icons/svg/light/road-horizon-light.svg`
- [ ] Review `static/icons/svg/light/robot-light.svg`
- [ ] Review `static/icons/svg/light/rocket-launch-light.svg`
- [ ] Review `static/icons/svg/light/rocket-light.svg`
- [ ] Review `static/icons/svg/light/rows-light.svg`
- [ ] Review `static/icons/svg/light/rows-plus-bottom-light.svg`
- [ ] Review `static/icons/svg/light/rows-plus-top-light.svg`
- [ ] Review `static/icons/svg/light/rss-light.svg`
- [ ] Review `static/icons/svg/light/rss-simple-light.svg`
- [ ] Review `static/icons/svg/light/rug-light.svg`
- [ ] Review `static/icons/svg/light/ruler-light.svg`
- [ ] Review `static/icons/svg/light/sailboat-light.svg`
- [ ] Review `static/icons/svg/light/scales-light.svg`
- [ ] Review `static/icons/svg/light/scan-light.svg`
- [ ] Review `static/icons/svg/light/scan-smiley-light.svg`
- [ ] Review `static/icons/svg/light/scissors-light.svg`
- [ ] Review `static/icons/svg/light/scooter-light.svg`
- [ ] Review `static/icons/svg/light/screencast-light.svg`
- [ ] Review `static/icons/svg/light/screwdriver-light.svg`
- [ ] Review `static/icons/svg/light/scribble-light.svg`
- [ ] Review `static/icons/svg/light/scribble-loop-light.svg`
- [ ] Review `static/icons/svg/light/scroll-light.svg`
- [ ] Review `static/icons/svg/light/seal-check-light.svg`
- [ ] Review `static/icons/svg/light/seal-light.svg`
- [ ] Review `static/icons/svg/light/seal-percent-light.svg`
- [ ] Review `static/icons/svg/light/seal-question-light.svg`
- [ ] Review `static/icons/svg/light/seal-warning-light.svg`
- [ ] Review `static/icons/svg/light/seat-light.svg`
- [ ] Review `static/icons/svg/light/seatbelt-light.svg`
- [ ] Review `static/icons/svg/light/security-camera-light.svg`
- [ ] Review `static/icons/svg/light/selection-all-light.svg`
- [ ] Review `static/icons/svg/light/selection-background-light.svg`
- [ ] Review `static/icons/svg/light/selection-foreground-light.svg`
- [ ] Review `static/icons/svg/light/selection-inverse-light.svg`
- [ ] Review `static/icons/svg/light/selection-light.svg`
- [ ] Review `static/icons/svg/light/selection-plus-light.svg`
- [ ] Review `static/icons/svg/light/selection-slash-light.svg`
- [ ] Review `static/icons/svg/light/shapes-light.svg`
- [ ] Review `static/icons/svg/light/share-fat-light.svg`
- [ ] Review `static/icons/svg/light/share-light.svg`
- [ ] Review `static/icons/svg/light/share-network-light.svg`
- [ ] Review `static/icons/svg/light/shield-check-light.svg`
- [ ] Review `static/icons/svg/light/shield-checkered-light.svg`
- [ ] Review `static/icons/svg/light/shield-chevron-light.svg`
- [ ] Review `static/icons/svg/light/shield-light.svg`
- [ ] Review `static/icons/svg/light/shield-plus-light.svg`
- [ ] Review `static/icons/svg/light/shield-slash-light.svg`
- [ ] Review `static/icons/svg/light/shield-star-light.svg`
- [ ] Review `static/icons/svg/light/shield-warning-light.svg`
- [ ] Review `static/icons/svg/light/shipping-container-light.svg`
- [ ] Review `static/icons/svg/light/shirt-folded-light.svg`
- [ ] Review `static/icons/svg/light/shooting-star-light.svg`
- [ ] Review `static/icons/svg/light/shopping-bag-light.svg`
- [ ] Review `static/icons/svg/light/shopping-bag-open-light.svg`
- [ ] Review `static/icons/svg/light/shopping-cart-light.svg`
- [ ] Review `static/icons/svg/light/shopping-cart-simple-light.svg`
- [ ] Review `static/icons/svg/light/shovel-light.svg`
- [ ] Review `static/icons/svg/light/shower-light.svg`
- [ ] Review `static/icons/svg/light/shrimp-light.svg`
- [ ] Review `static/icons/svg/light/shuffle-angular-light.svg`
- [ ] Review `static/icons/svg/light/shuffle-light.svg`
- [ ] Review `static/icons/svg/light/shuffle-simple-light.svg`
- [ ] Review `static/icons/svg/light/sidebar-light.svg`
- [ ] Review `static/icons/svg/light/sidebar-simple-light.svg`
- [ ] Review `static/icons/svg/light/sigma-light.svg`
- [ ] Review `static/icons/svg/light/sign-in-light.svg`
- [ ] Review `static/icons/svg/light/sign-out-light.svg`
- [ ] Review `static/icons/svg/light/signature-light.svg`
- [ ] Review `static/icons/svg/light/signpost-light.svg`
- [ ] Review `static/icons/svg/light/sim-card-light.svg`
- [ ] Review `static/icons/svg/light/siren-light.svg`
- [ ] Review `static/icons/svg/light/sketch-logo-light.svg`
- [ ] Review `static/icons/svg/light/skip-back-circle-light.svg`
- [ ] Review `static/icons/svg/light/skip-back-light.svg`
- [ ] Review `static/icons/svg/light/skip-forward-circle-light.svg`
- [ ] Review `static/icons/svg/light/skip-forward-light.svg`
- [ ] Review `static/icons/svg/light/skull-light.svg`
- [ ] Review `static/icons/svg/light/skype-logo-light.svg`
- [ ] Review `static/icons/svg/light/slack-logo-light.svg`
- [ ] Review `static/icons/svg/light/sliders-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/sliders-light.svg`
- [ ] Review `static/icons/svg/light/slideshow-light.svg`
- [ ] Review `static/icons/svg/light/smiley-angry-light.svg`
- [ ] Review `static/icons/svg/light/smiley-blank-light.svg`
- [ ] Review `static/icons/svg/light/smiley-light.svg`
- [ ] Review `static/icons/svg/light/smiley-meh-light.svg`
- [ ] Review `static/icons/svg/light/smiley-melting-light.svg`
- [ ] Review `static/icons/svg/light/smiley-nervous-light.svg`
- [ ] Review `static/icons/svg/light/smiley-sad-light.svg`
- [ ] Review `static/icons/svg/light/smiley-sticker-light.svg`
- [ ] Review `static/icons/svg/light/smiley-wink-light.svg`
- [ ] Review `static/icons/svg/light/smiley-x-eyes-light.svg`
- [ ] Review `static/icons/svg/light/snapchat-logo-light.svg`
- [ ] Review `static/icons/svg/light/sneaker-light.svg`
- [ ] Review `static/icons/svg/light/sneaker-move-light.svg`
- [ ] Review `static/icons/svg/light/snowflake-light.svg`
- [ ] Review `static/icons/svg/light/soccer-ball-light.svg`
- [ ] Review `static/icons/svg/light/sock-light.svg`
- [ ] Review `static/icons/svg/light/solar-panel-light.svg`
- [ ] Review `static/icons/svg/light/solar-roof-light.svg`
- [ ] Review `static/icons/svg/light/sort-ascending-light.svg`
- [ ] Review `static/icons/svg/light/sort-descending-light.svg`
- [ ] Review `static/icons/svg/light/soundcloud-logo-light.svg`
- [ ] Review `static/icons/svg/light/spade-light.svg`
- [ ] Review `static/icons/svg/light/sparkle-light.svg`
- [ ] Review `static/icons/svg/light/speaker-hifi-light.svg`
- [ ] Review `static/icons/svg/light/speaker-high-light.svg`
- [ ] Review `static/icons/svg/light/speaker-low-light.svg`
- [ ] Review `static/icons/svg/light/speaker-none-light.svg`
- [ ] Review `static/icons/svg/light/speaker-simple-high-light.svg`
- [ ] Review `static/icons/svg/light/speaker-simple-low-light.svg`
- [ ] Review `static/icons/svg/light/speaker-simple-none-light.svg`
- [ ] Review `static/icons/svg/light/speaker-simple-slash-light.svg`
- [ ] Review `static/icons/svg/light/speaker-simple-x-light.svg`
- [ ] Review `static/icons/svg/light/speaker-slash-light.svg`
- [ ] Review `static/icons/svg/light/speaker-x-light.svg`
- [ ] Review `static/icons/svg/light/speedometer-light.svg`
- [ ] Review `static/icons/svg/light/sphere-light.svg`
- [ ] Review `static/icons/svg/light/spinner-ball-light.svg`
- [ ] Review `static/icons/svg/light/spinner-gap-light.svg`
- [ ] Review `static/icons/svg/light/spinner-light.svg`
- [ ] Review `static/icons/svg/light/spiral-light.svg`
- [ ] Review `static/icons/svg/light/split-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/split-vertical-light.svg`
- [ ] Review `static/icons/svg/light/spotify-logo-light.svg`
- [ ] Review `static/icons/svg/light/spray-bottle-light.svg`
- [ ] Review `static/icons/svg/light/square-half-bottom-light.svg`
- [ ] Review `static/icons/svg/light/square-half-light.svg`
- [ ] Review `static/icons/svg/light/square-light.svg`
- [ ] Review `static/icons/svg/light/square-logo-light.svg`
- [ ] Review `static/icons/svg/light/square-split-horizontal-light.svg`
- [ ] Review `static/icons/svg/light/square-split-vertical-light.svg`
- [ ] Review `static/icons/svg/light/squares-four-light.svg`
- [ ] Review `static/icons/svg/light/stack-light.svg`
- [ ] Review `static/icons/svg/light/stack-minus-light.svg`
- [ ] Review `static/icons/svg/light/stack-overflow-logo-light.svg`
- [ ] Review `static/icons/svg/light/stack-plus-light.svg`
- [ ] Review `static/icons/svg/light/stack-simple-light.svg`
- [ ] Review `static/icons/svg/light/stairs-light.svg`
- [ ] Review `static/icons/svg/light/stamp-light.svg`
- [ ] Review `static/icons/svg/light/standard-definition-light.svg`
- [ ] Review `static/icons/svg/light/star-and-crescent-light.svg`
- [ ] Review `static/icons/svg/light/star-four-light.svg`
- [ ] Review `static/icons/svg/light/star-half-light.svg`
- [ ] Review `static/icons/svg/light/star-light.svg`
- [ ] Review `static/icons/svg/light/star-of-david-light.svg`
- [ ] Review `static/icons/svg/light/steam-logo-light.svg`
- [ ] Review `static/icons/svg/light/steering-wheel-light.svg`
- [ ] Review `static/icons/svg/light/steps-light.svg`
- [ ] Review `static/icons/svg/light/stethoscope-light.svg`
- [ ] Review `static/icons/svg/light/sticker-light.svg`
- [ ] Review `static/icons/svg/light/stool-light.svg`
- [ ] Review `static/icons/svg/light/stop-circle-light.svg`
- [ ] Review `static/icons/svg/light/stop-light.svg`
- [ ] Review `static/icons/svg/light/storefront-light.svg`
- [ ] Review `static/icons/svg/light/strategy-light.svg`
- [ ] Review `static/icons/svg/light/stripe-logo-light.svg`
- [ ] Review `static/icons/svg/light/student-light.svg`
- [ ] Review `static/icons/svg/light/subset-of-light.svg`
- [ ] Review `static/icons/svg/light/subset-proper-of-light.svg`
- [ ] Review `static/icons/svg/light/subtitles-light.svg`
- [ ] Review `static/icons/svg/light/subtitles-slash-light.svg`
- [ ] Review `static/icons/svg/light/subtract-light.svg`
- [ ] Review `static/icons/svg/light/subtract-square-light.svg`
- [ ] Review `static/icons/svg/light/subway-light.svg`
- [ ] Review `static/icons/svg/light/suitcase-light.svg`
- [ ] Review `static/icons/svg/light/suitcase-rolling-light.svg`
- [ ] Review `static/icons/svg/light/suitcase-simple-light.svg`
- [ ] Review `static/icons/svg/light/sun-dim-light.svg`
- [ ] Review `static/icons/svg/light/sun-horizon-light.svg`
- [ ] Review `static/icons/svg/light/sun-light.svg`
- [ ] Review `static/icons/svg/light/sunglasses-light.svg`
- [ ] Review `static/icons/svg/light/superset-of-light.svg`
- [ ] Review `static/icons/svg/light/superset-proper-of-light.svg`
- [ ] Review `static/icons/svg/light/swap-light.svg`
- [ ] Review `static/icons/svg/light/swatches-light.svg`
- [ ] Review `static/icons/svg/light/swimming-pool-light.svg`
- [ ] Review `static/icons/svg/light/sword-light.svg`
- [ ] Review `static/icons/svg/light/synagogue-light.svg`
- [ ] Review `static/icons/svg/light/syringe-light.svg`
- [ ] Review `static/icons/svg/light/t-shirt-light.svg`
- [ ] Review `static/icons/svg/light/table-light.svg`
- [ ] Review `static/icons/svg/light/tabs-light.svg`
- [ ] Review `static/icons/svg/light/tag-chevron-light.svg`
- [ ] Review `static/icons/svg/light/tag-light.svg`
- [ ] Review `static/icons/svg/light/tag-simple-light.svg`
- [ ] Review `static/icons/svg/light/target-light.svg`
- [ ] Review `static/icons/svg/light/taxi-light.svg`
- [ ] Review `static/icons/svg/light/tea-bag-light.svg`
- [ ] Review `static/icons/svg/light/telegram-logo-light.svg`
- [ ] Review `static/icons/svg/light/television-light.svg`
- [ ] Review `static/icons/svg/light/television-simple-light.svg`
- [ ] Review `static/icons/svg/light/tennis-ball-light.svg`
- [ ] Review `static/icons/svg/light/tent-light.svg`
- [ ] Review `static/icons/svg/light/terminal-light.svg`
- [ ] Review `static/icons/svg/light/terminal-window-light.svg`
- [ ] Review `static/icons/svg/light/test-tube-light.svg`
- [ ] Review `static/icons/svg/light/text-a-underline-light.svg`
- [ ] Review `static/icons/svg/light/text-aa-light.svg`
- [ ] Review `static/icons/svg/light/text-align-center-light.svg`
- [ ] Review `static/icons/svg/light/text-align-justify-light.svg`
- [ ] Review `static/icons/svg/light/text-align-left-light.svg`
- [ ] Review `static/icons/svg/light/text-align-right-light.svg`
- [ ] Review `static/icons/svg/light/text-b-light.svg`
- [ ] Review `static/icons/svg/light/text-columns-light.svg`
- [ ] Review `static/icons/svg/light/text-h-five-light.svg`
- [ ] Review `static/icons/svg/light/text-h-four-light.svg`
- [ ] Review `static/icons/svg/light/text-h-light.svg`
- [ ] Review `static/icons/svg/light/text-h-one-light.svg`
- [ ] Review `static/icons/svg/light/text-h-six-light.svg`
- [ ] Review `static/icons/svg/light/text-h-three-light.svg`
- [ ] Review `static/icons/svg/light/text-h-two-light.svg`
- [ ] Review `static/icons/svg/light/text-indent-light.svg`
- [ ] Review `static/icons/svg/light/text-italic-light.svg`
- [ ] Review `static/icons/svg/light/text-outdent-light.svg`
- [ ] Review `static/icons/svg/light/text-strikethrough-light.svg`
- [ ] Review `static/icons/svg/light/text-subscript-light.svg`
- [ ] Review `static/icons/svg/light/text-superscript-light.svg`
- [ ] Review `static/icons/svg/light/text-t-light.svg`
- [ ] Review `static/icons/svg/light/text-t-slash-light.svg`
- [ ] Review `static/icons/svg/light/text-underline-light.svg`
- [ ] Review `static/icons/svg/light/textbox-light.svg`
- [ ] Review `static/icons/svg/light/thermometer-cold-light.svg`
- [ ] Review `static/icons/svg/light/thermometer-hot-light.svg`
- [ ] Review `static/icons/svg/light/thermometer-light.svg`
- [ ] Review `static/icons/svg/light/thermometer-simple-light.svg`
- [ ] Review `static/icons/svg/light/threads-logo-light.svg`
- [ ] Review `static/icons/svg/light/three-d-light.svg`
- [ ] Review `static/icons/svg/light/thumbs-down-light.svg`
- [ ] Review `static/icons/svg/light/thumbs-up-light.svg`
- [ ] Review `static/icons/svg/light/ticket-light.svg`
- [ ] Review `static/icons/svg/light/tidal-logo-light.svg`
- [ ] Review `static/icons/svg/light/tiktok-logo-light.svg`
- [ ] Review `static/icons/svg/light/tilde-light.svg`
- [ ] Review `static/icons/svg/light/timer-light.svg`
- [ ] Review `static/icons/svg/light/tip-jar-light.svg`
- [ ] Review `static/icons/svg/light/tipi-light.svg`
- [ ] Review `static/icons/svg/light/tire-light.svg`
- [ ] Review `static/icons/svg/light/toggle-left-light.svg`
- [ ] Review `static/icons/svg/light/toggle-right-light.svg`
- [ ] Review `static/icons/svg/light/toilet-light.svg`
- [ ] Review `static/icons/svg/light/toilet-paper-light.svg`
- [ ] Review `static/icons/svg/light/toolbox-light.svg`
- [ ] Review `static/icons/svg/light/tooth-light.svg`
- [ ] Review `static/icons/svg/light/tornado-light.svg`
- [ ] Review `static/icons/svg/light/tote-light.svg`
- [ ] Review `static/icons/svg/light/tote-simple-light.svg`
- [ ] Review `static/icons/svg/light/towel-light.svg`
- [ ] Review `static/icons/svg/light/tractor-light.svg`
- [ ] Review `static/icons/svg/light/trademark-light.svg`
- [ ] Review `static/icons/svg/light/trademark-registered-light.svg`
- [ ] Review `static/icons/svg/light/traffic-cone-light.svg`
- [ ] Review `static/icons/svg/light/traffic-sign-light.svg`
- [ ] Review `static/icons/svg/light/traffic-signal-light.svg`
- [ ] Review `static/icons/svg/light/train-light.svg`
- [ ] Review `static/icons/svg/light/train-regional-light.svg`
- [ ] Review `static/icons/svg/light/train-simple-light.svg`
- [ ] Review `static/icons/svg/light/tram-light.svg`
- [ ] Review `static/icons/svg/light/translate-light.svg`
- [ ] Review `static/icons/svg/light/trash-light.svg`
- [ ] Review `static/icons/svg/light/trash-simple-light.svg`
- [ ] Review `static/icons/svg/light/tray-arrow-down-light.svg`
- [ ] Review `static/icons/svg/light/tray-arrow-up-light.svg`
- [ ] Review `static/icons/svg/light/tray-light.svg`
- [ ] Review `static/icons/svg/light/treasure-chest-light.svg`
- [ ] Review `static/icons/svg/light/tree-evergreen-light.svg`
- [ ] Review `static/icons/svg/light/tree-light.svg`
- [ ] Review `static/icons/svg/light/tree-palm-light.svg`
- [ ] Review `static/icons/svg/light/tree-structure-light.svg`
- [ ] Review `static/icons/svg/light/tree-view-light.svg`
- [ ] Review `static/icons/svg/light/trend-down-light.svg`
- [ ] Review `static/icons/svg/light/trend-up-light.svg`
- [ ] Review `static/icons/svg/light/triangle-dashed-light.svg`
- [ ] Review `static/icons/svg/light/triangle-light.svg`
- [ ] Review `static/icons/svg/light/trolley-light.svg`
- [ ] Review `static/icons/svg/light/trolley-suitcase-light.svg`
- [ ] Review `static/icons/svg/light/trophy-light.svg`
- [ ] Review `static/icons/svg/light/truck-light.svg`
- [ ] Review `static/icons/svg/light/truck-trailer-light.svg`
- [ ] Review `static/icons/svg/light/tumblr-logo-light.svg`
- [ ] Review `static/icons/svg/light/twitch-logo-light.svg`
- [ ] Review `static/icons/svg/light/twitter-logo-light.svg`
- [ ] Review `static/icons/svg/light/umbrella-light.svg`
- [ ] Review `static/icons/svg/light/umbrella-simple-light.svg`
- [ ] Review `static/icons/svg/light/union-light.svg`
- [ ] Review `static/icons/svg/light/unite-light.svg`
- [ ] Review `static/icons/svg/light/unite-square-light.svg`
- [ ] Review `static/icons/svg/light/upload-light.svg`
- [ ] Review `static/icons/svg/light/upload-simple-light.svg`
- [ ] Review `static/icons/svg/light/usb-light.svg`
- [ ] Review `static/icons/svg/light/user-check-light.svg`
- [ ] Review `static/icons/svg/light/user-circle-check-light.svg`
- [ ] Review `static/icons/svg/light/user-circle-dashed-light.svg`
- [ ] Review `static/icons/svg/light/user-circle-gear-light.svg`
- [ ] Review `static/icons/svg/light/user-circle-light.svg`
- [ ] Review `static/icons/svg/light/user-circle-minus-light.svg`
- [ ] Review `static/icons/svg/light/user-circle-plus-light.svg`
- [ ] Review `static/icons/svg/light/user-focus-light.svg`
- [ ] Review `static/icons/svg/light/user-gear-light.svg`
- [ ] Review `static/icons/svg/light/user-light.svg`
- [ ] Review `static/icons/svg/light/user-list-light.svg`
- [ ] Review `static/icons/svg/light/user-minus-light.svg`
- [ ] Review `static/icons/svg/light/user-plus-light.svg`
- [ ] Review `static/icons/svg/light/user-rectangle-light.svg`
- [ ] Review `static/icons/svg/light/user-sound-light.svg`
- [ ] Review `static/icons/svg/light/user-square-light.svg`
- [ ] Review `static/icons/svg/light/user-switch-light.svg`
- [ ] Review `static/icons/svg/light/users-four-light.svg`
- [ ] Review `static/icons/svg/light/users-light.svg`
- [ ] Review `static/icons/svg/light/users-three-light.svg`
- [ ] Review `static/icons/svg/light/van-light.svg`
- [ ] Review `static/icons/svg/light/vault-light.svg`
- [ ] Review `static/icons/svg/light/vector-three-light.svg`
- [ ] Review `static/icons/svg/light/vector-two-light.svg`
- [ ] Review `static/icons/svg/light/vibrate-light.svg`
- [ ] Review `static/icons/svg/light/video-camera-light.svg`
- [ ] Review `static/icons/svg/light/video-camera-slash-light.svg`
- [ ] Review `static/icons/svg/light/video-conference-light.svg`
- [ ] Review `static/icons/svg/light/video-light.svg`
- [ ] Review `static/icons/svg/light/vignette-light.svg`
- [ ] Review `static/icons/svg/light/vinyl-record-light.svg`
- [ ] Review `static/icons/svg/light/virtual-reality-light.svg`
- [ ] Review `static/icons/svg/light/virus-light.svg`
- [ ] Review `static/icons/svg/light/visor-light.svg`
- [ ] Review `static/icons/svg/light/voicemail-light.svg`
- [ ] Review `static/icons/svg/light/volleyball-light.svg`
- [ ] Review `static/icons/svg/light/wall-light.svg`
- [ ] Review `static/icons/svg/light/wallet-light.svg`
- [ ] Review `static/icons/svg/light/warehouse-light.svg`
- [ ] Review `static/icons/svg/light/warning-circle-light.svg`
- [ ] Review `static/icons/svg/light/warning-diamond-light.svg`
- [ ] Review `static/icons/svg/light/warning-light.svg`
- [ ] Review `static/icons/svg/light/warning-octagon-light.svg`
- [ ] Review `static/icons/svg/light/washing-machine-light.svg`
- [ ] Review `static/icons/svg/light/watch-light.svg`
- [ ] Review `static/icons/svg/light/wave-sawtooth-light.svg`
- [ ] Review `static/icons/svg/light/wave-sine-light.svg`
- [ ] Review `static/icons/svg/light/wave-square-light.svg`
- [ ] Review `static/icons/svg/light/wave-triangle-light.svg`
- [ ] Review `static/icons/svg/light/waveform-light.svg`
- [ ] Review `static/icons/svg/light/waveform-slash-light.svg`
- [ ] Review `static/icons/svg/light/waves-light.svg`
- [ ] Review `static/icons/svg/light/webcam-light.svg`
- [ ] Review `static/icons/svg/light/webcam-slash-light.svg`
- [ ] Review `static/icons/svg/light/webhooks-logo-light.svg`
- [ ] Review `static/icons/svg/light/wechat-logo-light.svg`
- [ ] Review `static/icons/svg/light/whatsapp-logo-light.svg`
- [ ] Review `static/icons/svg/light/wheelchair-light.svg`
- [ ] Review `static/icons/svg/light/wheelchair-motion-light.svg`
- [ ] Review `static/icons/svg/light/wifi-high-light.svg`
- [ ] Review `static/icons/svg/light/wifi-low-light.svg`
- [ ] Review `static/icons/svg/light/wifi-medium-light.svg`
- [ ] Review `static/icons/svg/light/wifi-none-light.svg`
- [ ] Review `static/icons/svg/light/wifi-slash-light.svg`
- [ ] Review `static/icons/svg/light/wifi-x-light.svg`
- [ ] Review `static/icons/svg/light/wind-light.svg`
- [ ] Review `static/icons/svg/light/windmill-light.svg`
- [ ] Review `static/icons/svg/light/windows-logo-light.svg`
- [ ] Review `static/icons/svg/light/wine-light.svg`
- [ ] Review `static/icons/svg/light/wrench-light.svg`
- [ ] Review `static/icons/svg/light/x-circle-light.svg`
- [ ] Review `static/icons/svg/light/x-light.svg`
- [ ] Review `static/icons/svg/light/x-logo-light.svg`
- [ ] Review `static/icons/svg/light/x-square-light.svg`
- [ ] Review `static/icons/svg/light/yarn-light.svg`
- [ ] Review `static/icons/svg/light/yin-yang-light.svg`
- [ ] Review `static/icons/svg/light/youtube-logo-light.svg`

